extends ../layout

block content
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script.
    function show() {
      var x = document.getElementById('box');
      if (x.style.display === 'none') {
          x.style.display = 'block';
      } else {
          x.style.display = 'none';
      }
    }
    function confirmedpk() {
      $('#sendpriv').submit();
    }
    function getaddress() {
      $('#sendaddy').submit();
    }
    function toggle() {
      if ($('#toggle').is(":checked")) {
        $("#menu1").show();
        $("#menu2").hide();
      } else {
        $("#menu1").hide();
        $("#menu2").show();
      }
    };
  .mainDiv
    #DisplayModalPrivKey.modal
      .modal-dialog
          .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
              .modal-header(style='border-bottom: none !important;')
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                  h4.modal-title Retrieve a private key
              .modal-body
                .form-horizontal
                  .row
                    .col-sm-3(align='center')
                      i.fa.fa-key.fa-5x
                    .col-sm-9(style='margin-top:10px !important;')
                      p(align='left')
                        strong Get the private key of an owned Denarius address
                      p(align='left')
                        | Enter your Denarius wallet address below
                  br
                  form.form-horizontal(action='/privkey', method='POST', id='sendpriv')
                    input(type='hidden', name='_csrf', value=_csrf)
                    .form-group
                      label.col-sm-3.control-label(for='addi') Enter D Address
                      .col-sm-7
                        input.form-control.blackinput(type='text', name='addi', id='addi', placeholder='D8jRk63FQDRUfeKqz99rkmCr47qsFUT5K2')
              .modal-footer(style='border-top: none !important;')
                  button.btn.btn-danger(type='submit', id='submit', onclick='confirmedpk()') Get Private Key
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
  .container
    h1(align='center', style='font-size:73px;font-weight:100;margin-top:42px !important;')  Denarius Addresses
    p(align='center') 
      | These are your Denarius (D) addresses and their respective balances that you own.
      br
      br
      br
      ul.list-group
        li.list-group-item(style='background-color: #151515;border-color:#444;')
          .row
            .col-md-2(align='center')
              .qrcode(align='center')
                a(href='denarius:' + addyy)
                  img(src='' + addyqr, align='center', style='border-radius:10px; width:75px;')
            .col-md-5(align='center', style='margin-top:25px;')
              strong #{addyy}
            .col-md-5(align='center', style='margin-top:20px;')
              .row
                .col-md-6
                  button.btn.btn-sm.btn-default(type='button', id='sendpk', data-toggle='modal', data-target='#DisplayModalPrivKey')
                    | Get Private Keys
                .col-md-6
                  form.form-horizontal(action='/getnewaddress', method='POST', id='sendaddy')
                    input(type='hidden', name='_csrf', value=_csrf)
                    button.btn.btn-sm.btn-default(type='submit', id='submit', onclick='getaddress()')
                      | Get New Address
      #box(align='center')
        em Write down or import your private key into Denarius-QT or denariusd to access your main wallet address
        br
        strong #{privkey}
    .row
      .col-md-12(align='center')
        label.switch(align='center')
          input(type='checkbox', id='toggle', checked='true', onclick='toggle()')
          span.slider.round(align='center')
  .row(id="menu1").animate__animated.animate__fadeIn
    if (scripthasharray)
      each address in scripthasharray
        .col-lg-3
          .addi(style='background-color: #151515;border-color: #444; padding:30px; margin: 10px; border-radius:15px;')
            p(align='center')
              .span(style='font-size:13px;text-align:center;color:#eee;') 
                a(href='/address/'+address.address) #{address.address}
            p(align='center')
              .qrcode(align='center')
                a(href='denarius:' + address.address)
                  img(src='' + address.qr, align='center', style='border-radius:10px;')
            p(align='center')
              .span(style='font-size:16px;text-align:center;color:#777;') Balance
              .span(style='color:#999;font-size:21px;text-align:center;') #{address.balance} D
    else
      br
      h3(align='center', style='color: #bbb;') No Addresses Available
  .row.container(id="menu2", style='margin: 0 auto; margin-top:15px;')
    if (scripthasharray)
      table.sortable#fst.animate__animated.animate__fadeIn
        thead
          tr
            th QR
            th Address
            th Balance
        tbody
          each address in scripthasharray
            tr
              td(align='center')
                a(href='denarius:' + address.address)
                  img(src='' + address.qr, align='center', style='width:75px;border-radius:10px;')
              td(align='center') 
                a(href='/address/'+address.address) #{address.address}
              td(align='center') #{address.balance} D
    else
      br
      h3(align='center', style='color: #bbb;') No Addresses Available
  br
  p(align='center')
    a.btn.btn-default(href='/', role='button') Go back to the Dashboard     
