extends ../layout

block content
  script.
    function confirmedstart() {
      $('#startfs').submit();
    }
  #notify
  .txheader
    #DisplayModalStartFS.modal
      .modal-dialog
          .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
              .modal-header(style='border-bottom: none !important;')
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                  h4.modal-title Start a FortunaStake Node
              .modal-body
                .form-horizontal
                  .row
                    .col-sm-3(align='center')
                      img(src='../img/fs.png', height='100px')
                    .col-sm-9(style='margin-top:10px !important;')
                      p(align='left')
                        strong Start a new or offline FortunaStake Node
                      p(align='left')
                        | Enter your FortunaStake Node Alias below, this node must be configured within your denarius.conf and fortunastake.conf. You must also have ownership of the collateral address and private key in your wallet.
                  br
                  form.form-horizontal(action='/startfs', method='POST', id='startfs')
                    input(type='hidden', name='_csrf', value=_csrf)
                    .form-group
                      label.col-sm-3.control-label(for='alias') FS Alias
                      .col-sm-7
                        input.form-control.blackinput(type='text', name='alias', id='alias', placeholder='FSALIAS1')
              .modal-footer(style='border-top: none !important;')
                  button.btn.btn-success(type='submit', id='submit', onclick='confirmedstart()') Start FS
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
    .fsheader(align='center')
      p
        .row
          .col-md-12
            .count(style='font-size:133px;font-weight:100;margin-bottom:-25px;', align='center').animate__animated.animate__bounce !{count}
            small(align='center', style='color: #42B905;') • FortunaStakes Online
    .row
    div(style='overflow-x:auto;background-color:#111;')
      div(align='center', style='top: 17px;position:relative;padding-right:15px;float:right;')
        span(style='margin-right:10px;position:relative;top:-16px;') Auto Refresh
        label.switch2(align='center')
          input#autoRefreshCheckbox(type='checkbox', value='true', checked='checked')
          span.slider2.round(align='center')
        script(type='text/javascript').
          setInterval(function ()
          {
          if (document.getElementById('autoRefreshCheckbox').checked)
          {
          window.location=window.location;
          }
          }, 30000); // 30 seconds for auto refresh enabled
      if (statuss)
        h1(align='center', style='font-weight:100;font-size:63px;margin:50px;') My FS Node Status
        table.sortable#fst.animate__animated.animate__fadeIn
          thead
            tr
              th Alias
              th Status
              th IP
              th Collateral
              th TXID
              th Last Block Paid
              th Rank
              th Round Earnings
              th Daily Rate
              th Options
          tbody
            each status in statuss
              if (status.service != null)
                tr
                  td(align='center')
                    | LOCAL FS 
                  td(align='center')
                    if (status.local_status != null)
                      if (status.local_status.toUpperCase() == 'REGISTERED')
                        .span(style='color: #42B905;') !{status.network_status.toUpperCase()}
                      else
                        | !{status.network_status.toUpperCase()} 
                    else
                      | UNCONFIGURED
                  td(align='center')
                    | !{status.service} 
                  td(align='center')
                    | !{status.payment_address} 
                  td(align='center')
                  td(align='center')
                  td(align='center')
                  td(align='center')
                  td(align='center')
                  td(align='center')
                    form.form-horizontal(action='/getgenkey', method='POST', id='sendfs')
                      input(type='hidden', name='_csrf', value=_csrf)
                      button.btn.btn-default.btn-sm(type='submit', id='submit')
                        | Generate FS Key
              if (status.alias != null)
                tr
                  td(align='center')
                    img(src='../img/fs.png', height='30px') 
                    |  !{status.alias}
                  td(align='center')
                    if (status.status.toUpperCase() == 'ONLINE')
                      .span(style='color: #42B905;') • !{status.status.toUpperCase()}
                    else
                      | !{status.status.toUpperCase()} 
                  td(align='center')
                    | !{status.ipaddr}
                  td(align='center')
                    if (status.collateral == 'Wallet is Locked')
                      a(href='/', style='color: red;') !{status.collateral}
                    else
                      a(href='https://www.coinexplorer.net/D/address/' + status.collateral, target='_blank', style='color: #42B905;') !{status.collateral}
                  td(align='center')
                    if (status.txid == 'Wallet is Locked')
                      a(href='/', style='color: red;') !{status.txid}
                    else
                      a(href='https://www.coinexplorer.net/D/transaction/' + status.txid, target='_blank', style='color: #777;font-size:11px;') !{status.txid.substring(0,30)}...
                  td(align='center')
                    | !{status.lastpaidblock}
                  td(align='center')
                    | !{status.rank}
                  td(align='center')
                    | !{status.earnings / 100000000} D
                  td(align='center')
                    | !{status.daily / 100000000} D
                  td(align='center')
                    if (status.collateral == 'Wallet is Locked')
                      button.btn.btn-sm.btn-default(type='button', disabled) Start FS
                    else
                      button.btn.btn-sm.btn-default(type='button', id='startfs', data-toggle='modal', data-target='#DisplayModalStartFS')
                        | Start FS
            else
              br
              h3(align='center', style='color: #bbb;') No FortunaStake Statuses Available
      h1(align='center', style='font-weight:100;font-size:63px;margin:50px;') FortunaStake Global List
      table.sortable#fst.animate__animated.animate__fadeIn
        thead
          tr
            th IP
            th Collateral
            th TXID
            th Rank
            th Last Seen (GMT)
            th Days Active
            th Round Earnings
            th Daily Rate
        tbody
          if (fss)
            each fs in fss
              if (fs.active == 1)
                tr
                  td(align='center')
                    img(src='../img/fs.png', height='30px') 
                    |  !{fs.ip}
                  td(align='center')
                    a(href='https://www.coinexplorer.net/D/address/' + fs.pubkey, target='_blank', style='color: #42B905;') !{fs.pubkey}
                  td(align='center')
                    a(href="https://chainz.cryptoid.info/d/tx.dws?" + fs.txid, target='_blank', style='color: #777;font-size:11px;') !{fs.txid.substring(0,30)}...
                  td(align='center') !{fs.rank}
                  td(align='center', style='font-size:11px;color: #777;')= new Date(fs.lastseen*1000).toUTCString().replace('GMT','')
                  td(align='center') !{(fs.activeseconds / 3600 / 24).toFixed(2)}
                  td(align='center') !{fs.roundearnings / 100000000} D
                  td(align='center') !{fs.dailyrate / 100000000} D
          else
            br
            h3(align='center', style='color: #bbb;') No FortunaStake List Available
    p(align='center')
      br
      a.btn.btn-default(href='/') Go back to Dashboard
