extends ../layout

block content
  script(src='/js/reload.js')
  .txheader
    .fsheader(align='center')
      p
        .row
          .col-md-4
            if (statuss)
              each status in statuss
                | FS Status: !{status.status}
                br
                if (status.alias != null)
                  ul
                    li !{status.alias} - !{status.status} - !{status.ipaddr} - !{status.collateral}
          .col-md-4
            .count(style='font-size:133px;font-weight:100;margin-bottom:-20px;', align='center') !{count}
            small(align='center', style='color: green;') FS Online
          .col-md-4
            form.form-horizontal(action='/getgenkey', method='POST', id='sendfs')
              input(type='hidden', name='_csrf', value=_csrf)
              button.btn.btn-default(type='submit', id='submit')
                | Generate FS Key
            p &nbsp;&nbsp;
            button.btn.btn-default(onclick='#') Start or Stop FS
    .row
    div(style='overflow-x:auto;')
      table.sortable#fst
        thead
          tr
            th IP
            th Collateral
            th TXID
            th Rank
            th Last Seen (GMT)
            th Days Active
            th Round Earnings
            th Daily Rate
        tbody
          if (fss)
            each fs in fss
              if (fs.active == 1)
                tr
                  td(align='center')
                    | !{fs.ip}
                  td(align='center')
                    a(href='https://www.coinexplorer.net/D/address/' + fs.pubkey, target='_blank', style='color: #fff8ad;') !{fs.pubkey}
                  td(align='center')
                    a(href="https://chainz.cryptoid.info/d/tx.dws?" + fs.txid, target='_blank', style='color: #777;font-size:11px;') !{fs.txid.substring(0,30)}...
                  td(align='center') !{fs.rank}
                  td(align='center', style='font-size:11px;color: #777;')= new Date(fs.lastseen*1000).toUTCString().replace('GMT','')
                  td(align='center') !{(fs.activeseconds / 3600 / 24).toFixed(2)}
                  td(align='center') !{fs.roundearnings / 100000000} D
                  td(align='center') !{fs.dailyrate / 100000000} D
          else
            br
            h3(align='center', style='color: #bbb;') No FortunaStake List Available
    p(align='center')
      br
      a.btn.btn-default(href='/') Go back to Dashboard
