extends ../layout

block content
  span#lanip(data-value=lanip)
  script.
    var lanip = document.getElementById("lanip").getAttribute("data-value");
  style.
    .modale:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    }
    .opened:before {
    display: block;
    }
    .opened .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
    }
    .modal-dialog {
    background: #111;
    border: #333333 solid 0px;
    border-radius: 5px;
    margin-left: -200px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 360px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    }
    .modal-body {
    padding: 20px;
    }
    .modal-body input {
    width: 200px;
    padding: 8px;
    border: 1px solid #333;
    color: #888;
    outline: 0;
    font-size: 14px;
    font-weight: bold;
    }
    .modal-header,
    .modal-footer {
    padding: 10px 20px;
    }
    .modal-header {
    border-bottom: #222 solid 1px;
    }
    .modal-header h2 {
    font-size: 20px;
    }
  script.
    function updateDue() {
      var amnt = parseFloat(document.getElementById("amount").value);
      if (!amnt) { amnt = 0; }
      var total = document.getElementById("totalwithdraw");
      total.value = (amnt - 0.0001).toFixed(8);
    }
    function signtx() {
      $('#signtx').submit();
    }
    function confirmed() {
      $('#sendform').submit();
    }
  #notify
  .container
    h1(align='center', style='font-size:73px;font-weight:100;margin-top:42px !important;') Denarius KeepKey History
    p(align='center')
      | This tool provides the ability to access your KeepKey device history through Kronos and acts as a KeepKey client and transaction broadcaster for Denarius
    br
    br
  .row.container.rowclass(style='font-weight:400;font-size:14px;padding:30px;background-color:#222;margin:15px;border-radius:15px;', align='center')
    .col-md-12
      p
        button#nextbutton.btn.btn-default(style='width:450px;display:none;') ~
        #xpub(style='display:none;')
        | #{daddress0}
        | #{xpub}
        if (balancearray[0])
          h1(style='font-size:42px;font-weight:100;font-family:"Heebo", sans-serif;') Balance: #{balancearray[0].balance} D
          .qrcode(align='center', style='margin:45px;')
            img(src='' + balancearray[0].qr, align='center', style='border-radius:10px; width:125px;')
          p.hashm(style='font-size:16px;') Address #0: 
            strong #{balancearray[0].address}
          p.hashm P2PKH Pub Key: #{balancearray[0].p2pkh}
          p.hashm P2PK Pub Key: #{balancearray[0].p2pk}
          p &nbsp;
          //- p
          //-   button#keepkey2.btn.btn-default(style='width:450px;') Pair again to Send D
          //-   form.form-horizontal#signtx(action='/keepkeysend', method='POST')
          //-     input(type='hidden', name='_csrf', value=_csrf)
          //-     input#rawtxhex(type='hidden', name='rawtxhex', value='')
          //-     //- input#addrin(type='hidden', name='addrin', value='')
          //-     //- button#nextbuttontx.btn.btn-default(style='width:450px;display:none;', type='submit', onclick='signtx()')
          button#nextbuttontx.btn.btn-default(style='width:450px;')
            | Sign UTXO and Send Denarius
          //-   p
          //-     button#dSign.btn.btn-default(style='width:250px;')
          //-       | Sign Message
          //-   p
          //-     button#dVerify.btn.btn-default(style='width:250px;')
          //-       | Verify Message
      br
      .row 
        .col-md-12(style='height:353px;padding:69px;background-image:url("../img/keepkey.png");background-repeat:no-repeat;background-position:center;background-size:fit;')
          select#keyring(style='position:relative;height:25px;background-color:#000;color:#FFF;border:0px;' size='4')
          h4#pairtitle Look Below for Transaction History
          p
            span#labelinfo
            br
            span#vendorinfo
            span#modelinfo
            br
            span#deviceidinfo
            br
            span#firmwareinfo
          p &nbsp;
          p &nbsp;
          p &nbsp;
          p &nbsp;
          p &nbsp;
          p &nbsp;
          p &nbsp;
          p &nbsp;
          p &nbsp;
          p &nbsp;
          p &nbsp;
      h1 Transaction History
      br
      if (balancearray[0].txs)
        .row(style='color:#eee;margin:5px !important;padding:20px;background-color:#111;border-radius:5px;') 
          .col-md-3(align='center', style='margin-top:5px;')
            p Block Height
          .col-md-9(align='center', style='margin-top:5px;')
            p Transaction ID
        each tx_hash in balancearray[0].txs
          each p2pkhtx in tx_hash.p2pkhtxs
            .row(style='color:#eee;margin:5px!important;padding:20px;background-color:#111;border-radius:5px;')
              .col-md-3(align='center', style='margin-top:5px;')
                p 
                  a(href='/block/'+p2pkhtx.height, target='_blank') #{p2pkhtx.height}
              .col-md-9(align='center', style='margin-top:5px;')
                p.hashm 
                  a(href='/tx/'+p2pkhtx.tx_hash, target='_blank') #{p2pkhtx.tx_hash}
          each p2pktx in tx_hash.p2pktxs
            .row(style='color:#eee;margin:5px!important;padding:20px;background-color:#111;border-radius:5px;')
              .col-md-3(align='center', style='margin-top:5px;')
                p 
                  a(href='/block/'+p2pktx.height, target='_blank') #{p2pktx.height}
              .col-md-9(align='center', style='margin-top:5px;')
                p.hashm 
                  a(href='/tx/'+p2pktx.tx_hash, target='_blank') #{p2pktx.tx_hash}
      else
        h1(style='color:#666;') No Transactions Available
          //- p #{tx_hash.p2pkhtxs}
      .modale#pinModal(aria-hidden='true')
        .modal-dialog
          .modal-header
            h3 Enter PIN
            p
              | Use the PIN layout shown on your Keepkey to find the location to
              | press on this PIN pad.
          .modal-body
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(7)', style='margin:10px;color:#777;')
              | &#x25CF;
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(8)', style='margin:10px;color:#777;')
              | &#x25CF;
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(9)', style='margin:10px;color:#777;')
              | &#x25CF;
            br
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(4)', style='margin:10px;color:#777;')
              | &#x25CF;
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(5)', style='margin:10px;color:#777;')
              | &#x25CF;
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(6)', style='margin:10px;color:#777;')
              | &#x25CF;
            br
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(1)', style='margin:10px;color:#777;')
              | &#x25CF;
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(2)', style='margin:10px;color:#777;')
              | &#x25CF;
            button.button.button-outline.btn.btn-default(onclick='handlePinDigit(3)', style='margin:10px;color:#777;')
              | &#x25CF;
            br
            input.blackinput4(id='#pinInput' type='text' style='-webkit-text-security: disc;')
            button.button.button-outline.btn.btn-default(onclick="handlePinDigit('')")
              | x
          .modal-footer(style='border: 0 !important;')
            button.button.button-outline.btn.btn-default(onclick='pinEntered()')
              | Unlock
      .modale#passphraseModal(aria-hidden='true')
        .modal-dialog(style='width:600px;left:42%;')
          .modal-header
            h3 BIP39 Password
            p Enter your BIP39 Seed Password if you are using it, if not, leave blank. 
          .modal-body
            form
              input.blackinput4(id='#passphraseInput' type='password' autocomplete='bip39-passphrase', style='width:80%;')
          .modal-footer(style='border:0;')
            button.button.button-outline.btn.btn-default(onclick='passphraseEntered()')
              | Continue
  script(src='https://unpkg.com/debug@4.0.1/dist/debug.js')
  script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
  script(src='http://'+lanip+':3000/js/keepkey.js')
