extends ../layout

block content
  span#lanip(data-value=lanip)
  script(src='../js/lib/jquery-3.1.1.min.js')  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
  script.
    var lanip = document.getElementById("lanip").getAttribute("data-value");
    var socket = io('//'+ lanip +':3300');
    socket.on('notifications', function (data) {
      console.log(data.notifydb);
      if (data.notifydb != '') {
        $('#notify').html("<div class='notifytx animate__animated animate__zoomInRight' id='notificationtx' style='background-color:#000000e8;border:3px solid #ffffff3d;border-radius:15px;padding:30px;font-size:13px;width:600px;position:fixed;right:0;bottom:5px;z-index:9999999;display:visible;' align='center'>Denarius TX Notification<br/><a href='/transactions' style='color:#999;font-size:0.85rem;'>"+ data.notifydb.toString() +"</a><div id='buttonfloat' style='top:36px;position:absolute;right:15px;' onclick='closeNotify()'><button type='submit' style='background-color:transparent;color:#666;border:none;' onclick='closeNotify()'>X</button></div></div>");
      }
    });   
    function closeNotify() {
      var c = document.getElementById("notificationtx")
      c.style.display = "none";
    };
    function toggle() {
      if ($('#toggle').is(":checked")) {
        $("#menu1").show();
        $("#menu2").hide();
      } else {
        $("#menu1").hide();
        $("#menu2").show();
      }
    };
  #notify
  .txheader
    p
      h1(align='center', style='font-size:73px;font-weight:100;margin-top:42px !important;') Denarius Transactions
      p(align='center') 
        | This is your Denarius (D) wallet transaction activity information.
      br
      .div(align='center', style='margin: 0 auto;')
        label.switch(align='center')
          input(type='checkbox', id='toggle', checked='true', onclick='toggle()')
          span.slider.round(align='center')
    if (transactions)
      - transactions.sort((b, a)=>{a = new Date(a.confirmations);b = new Date(b.confirmations);return a>b ? -1 : a<b ? 1 : 0;})
      .row(id='menu1', style='margin: 0 auto;').container.animate__animated.animate__fadeIn
        each transaction in transactions
          .panel.panel-default(style='border-color: #4e4e4e;')
            if (transaction.category == 'receive')
              .panel-heading.txreceive.mb
                .pull-left
                  | Transaction Received
                  .date= new Date(transaction.time*1000).toUTCString()
                .pull-right
                  strong Confirmations !{transaction.confirmations}
              .panel-body(style='background-color: #333;')
                p(align='center')
                  strong.txamount !{transaction.amount.toFixed(8)}
                    small(style='color:#777;')  D
                p(align='center')
                  .txaddress !{transaction.address}
                p(align='center') 
                  | TX ID: 
                  a.txid(href="/tx/" + transaction.txid, target='_blank') !{transaction.txid.substring(0,30)}
            else if (transaction.category == 'send')
              .panel-heading.txsent.mb
                .pull-left
                  | Transaction Sent
                  .date= new Date(transaction.time*1000).toUTCString()
                .pull-right
                  strong Confirmations !{transaction.confirmations}
              .panel-body(style='background-color: #333;')
                p(align='center')
                  strong.txamount !{transaction.amount.toFixed(8)}
                    small(style='color:#777;')  D
                p(align='center')
                  .txaddress !{transaction.address}
                p(align='center') 
                  | TX ID: 
                  a.txid(href="/tx/" + transaction.txid, target='_blank') !{transaction.txid.substring(0,30)}
            else
              .panel-heading.txreceive.mb
                .pull-left
                  | Staked, Mined, or FS
                  .date= new Date(transaction.time*1000).toUTCString()
                .pull-right
                  strong Confirmations !{transaction.confirmations}
              .panel-body(style='background-color: #333;')
                p(align='center')
                  if (transaction.reward)
                    strong.txamount Rewarded +!{transaction.reward.toFixed(8)} 
                      small(style='color:#777;')  D
                  if (transaction.amount)
                    p(align='center')
                      strong.txamount !{transaction.amount.toFixed(8)} 
                        small(style='color:#777;')  D
                  if (!transaction.amount && !transaction.reward)
                    strong.txamount No reward 0.00000000
                      small(style='color:#777;')  D
                p(align='center')
                  .txaddress !{transaction.address}
                p(align='center') 
                  | TX ID: 
                  a.txid(href="/tx/" + transaction.txid, target='_blank') !{transaction.txid.substring(0,30)}
    else
      br
      h3(align='center', style='color: #bbb;') No Transactions Available
    if (transactions)
      - transactions.sort((b, a)=>{a = new Date(a.confirmations);b = new Date(b.confirmations);return a>b ? -1 : a<b ? 1 : 0;})
      .row(id='menu2', style='width:90%;margin:0 auto;').animate__animated.animate__fadeIn
        table.sortable#fst
          thead
            tr
              th Transaction Status
              th.sorttable_nosort Time (GMT)
              th Confirmations
              th Address
              th TXID
              th Amount
          tbody
            each transaction in transactions
              if (transaction.category == 'receive')
                tr(style='background-color: rgba(62, 115, 14, 0.2);')
                  td(align='center')
                    if (transaction.category == 'receive')
                      .label.label-success(style='background-color: #3E730E;') Received
                    else if (transaction.category == 'send')
                      .label.label-danger Sent
                    else
                      .label.label-primary Staked, Mined, or FS
                  td(align='center') 
                    .date= new Date(transaction.time*1000).toUTCString().replace('GMT','')
                  td(align='center') 
                    .label.label-success(style='background: none;') !{transaction.confirmations}
                  td(align='center') !{transaction.address}
                  td(align='center') 
                    a.txid(href="/tx/" + transaction.txid, target='_blank') !{transaction.txid}
                  td(align='center') 
                    if (transaction.reward)
                      .label.label-primary !{transaction.reward.toFixed(8)} D
                    else
                      if (transaction.category == 'receive')
                         .label.label-success(style='background-color: #3E730E;') !{transaction.amount.toFixed(8)} D
                      else if (transaction.category == 'send')
                        .label.label-danger !{transaction.amount.toFixed(8)} D
              else if (transaction.category == 'send')
                tr(style='background-color: rgba(217, 83, 79, 0.2);')
                  td(align='center')
                    if (transaction.category == 'receive')
                      .label.label-success(style='background-color: #3E730E;') Received
                    else if (transaction.category == 'send')
                      .label.label-danger Sent
                    else
                      .label.label-primary Staked, Mined, or FS
                  td(align='center') 
                    .date= new Date(transaction.time*1000).toUTCString().replace('GMT','')
                  td(align='center') 
                    .label.label-success(style='background: none;') !{transaction.confirmations}
                  td(align='center') !{transaction.address}
                  td(align='center') 
                    a.txid(href="/tx/" + transaction.txid, target='_blank') !{transaction.txid}
                  td(align='center') 
                    if (transaction.reward)
                      .label.label-primary !{transaction.reward.toFixed(8)} D
                    else
                      if (transaction.category == 'receive')
                         .label.label-success(style='background-color: #3E730E;') !{transaction.amount.toFixed(8)} D
                      else if (transaction.category == 'send')
                        .label.label-danger !{transaction.amount.toFixed(8)} D
              else
                tr(style='background-color: rgba(50, 93, 136, 0.2);')
                  td(align='center')
                    if (transaction.category == 'receive')
                      .label.label-success(style='background-color: #3E730E;') Received
                    else if (transaction.category == 'send')
                      .label.label-danger Sent
                    else
                      .label.label-primary Staked, Mined, or FS
                  td(align='center') 
                    .date= new Date(transaction.time*1000).toUTCString().replace('GMT','')
                  td(align='center') 
                    .label.label-success(style='background: none;') !{transaction.confirmations}
                  td(align='center') !{transaction.address}
                  td(align='center') 
                    a.txid(href="/tx/" + transaction.txid, target='_blank') !{transaction.txid}
                  td(align='center') 
                    if (transaction.reward)
                      .label.label-primary !{transaction.reward.toFixed(8)} D
                    else
                      if (transaction.category == 'receive')
                         .label.label-success(style='background-color: #3E730E;') !{transaction.amount.toFixed(8)} D
                      else if (transaction.category == 'send')
                        .label.label-danger !{transaction.amount.toFixed(8)} D
    else
      br
      h3(align='center', style='color: #bbb;') No Transactions Available
    p(align='center')
      br
      a.btn.btn-default(href='/') Go back to Dashboard
