extends ../layout

block content
  script.
    function hide() {
      var x = document.getElementById('addrss');
      if (x.style.display === 'none') {
          $('#addrss').slideDown();
          $("#plus").html("<i class='fa fa-minus'></i>");
      } else {
          $('#addrss').slideUp();
          $("#plus").html("<i class='fa fa-plus'></i>");
      }
    }
    function hide1() {
      var x = document.getElementById('quick');
      if (x.style.display === 'none') {
          $('#quick').slideDown();
          $("#plus1").html("<i class='fa fa-minus'></i>");
      } else {
          $('#quick').slideUp();
          $("#plus1").html("<i class='fa fa-plus'></i>");
      }
    }
    function swp() {
    var button = document.getElementById("swap");
      if (button.getAttribute("data-text-swap") == button.innerHTML) {
        button.innerHTML = button.getAttribute("data-text-original");
      } else {
        button.setAttribute("data-text-original", button.innerHTML);
        button.innerHTML = button.getAttribute("data-text-swap");
      }
    }
  .page-header
    if user
      .wallettitle(align='center') D
      .balance(align='center')
        | #{balance}
      #swap.swapbalance(onclick='swp()', data-text-swap=btc+' BTC', align='center')
        | $#{usd} USD
      br
      .refresh(align='center')
        a(href='/wallet')
          i.fa.fa-refresh.fa-2x.fa-spin-hover.lightgrey
      br
      .row
        .col-xl-6
          .panel.panel-default(align='center')
            .panel-heading.mbs
              .pull-left
                | Quick Actions
              .pull-right
                a#plus1.minus(onclick='hide1()')
                  i.fa.fa-minus
            #quick.panel-body
              .row
                .col-xs-6
                  form.form-horizontal(action='/newaddress', method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    button.btn.btn-default(type='submit')
                      | Get a new D Address
                .col-xs-6
                  a.btn.btn-default(href='/withdraw', role='button')
                    i.fa.fa-paper-plane
                    |  Send Denarius
        .col-xl-6
          .panel.panel-default
            .panel-heading.mbs
              .pull-left
                | Denarius Wallet Address
              .pull-right
                a#plus.minus(onclick='hide()')
                  i.fa.fa-minus
            #addrss.panel-body
              .row
                .col-md-6
                  .mainaddy
                    strong #{address}
                .col-md-6
                  .qrcode(align='center')
                    a(href='denarius:' + address)
                      img(src='' + qrcode)
      br
      .page-header
        p
          h3(align='center')
            i.fa.fa-exchange
            |  Recent Transactions
        if (transactions)
          - transactions.sort((a, b)=>{a = new Date(a.timereceived);b = new Date(b.timereceived);return a>b ? -1 : a<b ? 1 : 0;})
          each transaction in transactions
            .panel.panel-default
              if (transaction.category == 'receive')
                .panel-heading.txreceive.mb
                  .pull-left
                    | Transaction Received
                    .date= new Date(transaction.timereceived*1000).toUTCString()
                  .pull-right
                    strong  !{transaction.confirmations}
              else
                .panel-heading.txsent.mb
                  .pull-left
                    | Transaction Sent
                    .date= new Date(transaction.timereceived*1000).toUTCString()
                  .pull-right
                    strong  !{transaction.confirmations}
              .panel-body
                p(align='center')
                  strong.txamount !{transaction.amount.toFixed(8)}
                p(align='center')
                  .txaddress !{transaction.address}
                p(align='center') 
                  | TX ID: 
                  a.txid(href="https://chainz.cryptoid.info/d/tx.dws?" + transaction.txid, target='_blank') !{transaction.txid.substring(0,30)}
          else
            br
            h3(align='center', style='color: #bbb;') No Transactions Available
          p(align='center')
            br
            a.btn.btn-default(href='/transactions') View All Transactions
