div(class=offline)
  div(class=offlinebtn)
    p 
      h1 Denarius Node Offline
    p
      #rebooter
      button.btn.btn-danger(type='submit', id='submitrb',  onclick='reboot()') REBOOT DENARIUS NODE
      form.form-horizontal(action='/reboot', method='POST', id='sendreboot')
        input(type='hidden', name='_csrf', value=_csrf)
div(class=chaindl)
  #container3(name='container3') &nbsp;
  div(class=chaindlbtn)
    p(align='center')
      h1 Denarius Node Syncing... 
        strong #{blockperc} %
      p
        | Please wait...This can take awhile...Downloading Blocks
      p
        | On Block 
        strong #{blockheight} / #{cryptoidblocks}
        br
        #blockpp
      p Peer Connections: #{peers}
      p
        i.fa.fa-arrow-up
        | Data Sent #{datasent}
        br
        i.fa.fa-arrow-down
        | Data Received #{datareceived} 
    p
      img(src='../img/syncing.svg', alt='Syncing Blocks...', border='0')
      #blockcount(data-value=blockpercent)
script. 
  function togglesearch() {
      var x = document.getElementById("searchinput");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
.navbar.navbar-default.navbar-fixed-top(style='background-image: url("../img/mazeheader.svg") !important;')
  .hcontainer
    .navbar-header
      button.navbar-toggle.pull-left.ml(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .navbar-brand
        img.res(src='../img/kronos.svg', alt='Denarius', border='0')
      if user
        .navbar-send.hidden-sm.hidden-md.hidden-lg.hidden-xl
          a.send(href='/withdraw')
            i.fa.fa-paper-plane
    .collapse.navbar-collapse
      ul.nav.navbar-nav
          li(class=(title == 'Home') ? 'active' : undefined)
            a(href='/') 
              i.fas.fa-tachometer-alt  
              |   Dashboard
          li(class=(title == 'FortunaStakes') ? 'active' : undefined)
            a(href='/fs') 
              i.fas.fa-th   
              |   FS
          li(class=(title == 'Peers') ? 'active' : undefined)
            a(href='/peers') 
              i.fas.fa-network-wired    
              |   Peers
          li.dropdown(class=(title == 'Wallet') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span 
              i.fa.fa-wallet  
              |   Wallet
              i.caret
            ul.dropdown-menu
              li
                a(href='/transactions') 
                  i.fas.fa-exchange-alt  
                  |   Transactions
              li.divider
              li
                a(href='/addresses') 
                  i.fas.fa-at  
                  |   Addresses
          li.dropdown(class=(title == 'Tools') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span 
              i.fas.fa-tools  
              |   Tools 
              i.caret
            ul.dropdown-menu
              li
                a(href='/backup') 
                  i.fas.fa-server  
                  |   Backup Wallet
              li
                a(href='/ddebug') 
                  i.fas.fa-bug  
                  |   Denarius Debug Log
              li.divider
              li
                a(href='/sign') 
                  i.fas.fa-signature  
                  |   Sign a message
              li
                a(href='/verify') 
                  i.fas.fa-certificate  
                  |   Verify a message
              li.divider(style=sendicon)
              li(style=sendicon)
                a(href='/rawtx') 
                  i.far.fa-paper-plane  
                  |   Send Raw Transaction
              li.divider(style=sendicon)
              li(style=sendicon)
                a(href='/import') 
                  i.fas.fa-key   
                  |   Import a private key
          li
            a(href='#', style='font-size:14px;color:#FFF;background-color: rgba(0, 0, 0, 0.2);') #{balance} D
          if (staketoggle == 'Staking')
            li.animate__animated.animate__pulse.animate__infinite
              a(style='padding-top:18px !important;')
                .label.label-success(style='background-color:#41B805;')  
                  i.fas.fa-coins  
                  |  #{staketoggle}
      ul.nav.navbar-nav.navbar-right
          li(style=sendicon,class=(title == 'Send D') ? 'active' : undefined)
            a(href='/withdraw')
              i.fa.fa-paper-plane 
              |   SEND
          li
            #searchinput.animate__animated.animate__fadeInRight(style='margin-top:8px;display:none;')
              form.form-horizontal(action='/search', method='POST', id='explorer')
                input(type='hidden', name='_csrf', value=_csrf)
                input.form-control.blackinput4(style='min-width:350px;', type='text', align='center', name='explorersearch', id='explorersearch', placeholder='Search the chain for TX Hashes, Block #, or Address')
          li
            a(href='#', onclick='togglesearch()')
              i.fas.fa-search
          li.dropdown(class=(title == 'Community') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span 
                i.fas.fa-cog
                |   About
              i.caret
            ul.dropdown-menu
              li(class=(title == 'Version') ? 'active' : undefined)
                a(href='https://github.com/carsenk/kronos') Kronos v1.2.7-Alpha
              li.divider
              li
                a(href='https://blockforums.org', target='_blank') 
                  i.fas.fa-bold 
                  |   BlockForums
              li.divider
              li
                a(href='https://discord.gg/UPpQy3n', target='_blank')
                  i.fab.fa-discord 
                  |   Denarius Discord
