extends layout

block content
  script(src='../js/lib/jquery-3.1.1.min.js')
  script. 
    function confirmedu() {
      $('#sendunlock').submit();
    }
    function confirmedus() {
      $('#sendunlocks').submit();
    }
    function confirmedl() {
      $('#sendlock').submit();
    }
    function confirmede() {
      $('#sendencrypt').submit();
    }
    function closeNotify() {
      var c = document.getElementById("notificationtx")
      c.style.display = "none";
    }
    function displayus() {
      var y = document.getElementById("DisplayModalUnlock");
      y.style.display = "none";      
    }
    function toggl() {
      var x = document.getElementById("pkey");
      var y = document.getElementById("reveal");
      if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none";
      } else {
        x.style.display = "none";
      }
    }
  if (notify != '')
    #notificationtx.notifytx.animate__animated.animate__zoomInRight(style='background-color:#000000e8;border:3px solid #ffffff3d;border-radius:15px;padding:30px;font-size:13px;width:600px;position:fixed;right:0;bottom:5px;z-index:9999999;display:visible;', align='center')
      | Denarius TX Notification
      br
      a(href='/transactions', style='color:#999;font-size:0.85rem;') #{notify.toString()}
      #buttonfloat(style='top:36px;position:absolute;right:15px;', onclick='closeNotify()')
        button(type='submit', style='background-color:transparent;color:#666;border:none;', onclick='closeNotify()') X
  .maincontent(style='border: none !important;')
    #DisplayModalUnlockStaking.modal(style='z-index:1100 !important;')
      .modal-dialog
          .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
              .modal-header(style='border-bottom: none !important;')
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                  h4.modal-title Unlock Denarius Wallet
              .modal-body
                .form-horizontal
                  .row
                    .col-sm-3(align='center')
                      i.fa.fa-unlock.fa-5x
                    .col-sm-9(style='margin-top:10px !important;')
                      p(align='left')
                        strong Are you sure you want to unlock your wallet for staking only?
                      p(align='left')
                        | Enter your Denarius wallet encryption passphrase below
                  br
                  form.form-horizontal(action='/unlockstaking', method='POST', id='sendunlocks')
                    input(type='hidden', name='_csrf', value=_csrf)
                    .form-group
                      label.col-sm-3.control-label(for='password') Enter passphrase
                      .col-sm-7
                        input.form-control.blackinput(type='password', name='password', id='password', placeholder='************')
              .modal-footer(style='border-top: none !important;')
                  button.btn.btn-success(type='submit', id='submit', onclick='confirmedus()') Unlock Wallet For Staking Only
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
    #DisplayModalUnlock.modal
      .modal-dialog
          .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
              .modal-header(style='border-bottom: none !important;')
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                  h4.modal-title Unlock Denarius Wallet
              .modal-body
                .form-horizontal
                  .row
                    .col-sm-3(align='center')
                      i.fa.fa-unlock.fa-5x
                    .col-sm-9(style='margin-top:10px !important;')
                      p(align='left')
                        strong Are you sure you want to unlock your wallet?
                      p(align='left')
                        | Enter your Denarius wallet encryption passphrase below
                  br
                  form.form-horizontal(action='/unlock', method='POST', id='sendunlock')
                    input(type='hidden', name='_csrf', value=_csrf)
                    .form-group
                      label.col-sm-3.control-label(for='password') Enter passphrase
                      .col-sm-7
                        input.form-control.blackinput(type='password', name='password', id='password', placeholder='************')
              .modal-footer(style='border-top: none !important;')
                  button.btn.btn-warning(type='button', id='sendunlocks', onclick='displayus()', data-toggle='modal', data-target='#DisplayModalUnlockStaking') Unlock for Staking Only
                  button.btn.btn-success(type='submit', id='submit', onclick='confirmedu()') Unlock Wallet
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
    #DisplayModalLock.modal
      .modal-dialog
          .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
              .modal-header(style='border-bottom: none !important;')
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                  h4.modal-title Lock Denarius Wallet
              .modal-body
                .form-horizontal
                .row
                  .col-sm-3(align='center')
                    i.fa.fa-lock.fa-5x
                  .col-sm-9
                    p(align='left')
                      strong Are you sure you want to lock your wallet?
                    form.form-horizontal(action='/lock', method='POST', id='sendlock')
                      input(type='hidden', name='_csrf', value=_csrf)
                      p(align='left') Locking your wallet will prevent staking rewards and the staker thread from running, but your coinage on your D will still grow.
              .modal-footer(style='border-top: none !important;')
                  button.btn.btn-danger(type='submit', id='submit', onclick='confirmedl()') Lock Wallet
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
    #DisplayModalEncrypt.modal
      .modal-dialog
          .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
              .modal-header(style='border-bottom: none !important;')
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                  h4.modal-title Encrypt Denarius Wallet
              .modal-body
                .form-horizontal
                  .row
                    .col-sm-3(align='right')
                      i.fa.fa-lock.fa-5x
                    .col-sm-9(style='margin-top:10px !important;')
                      p(align='left')
                        strong Are you sure you want to encrypt your wallet?
                      p(align='left')
                        | Enter a wallet encryption passphrase below
                  br
                  form.form-horizontal(action='/encrypt', method='POST', id='sendencrypt')
                    input(type='hidden', name='_csrf', value=_csrf)
                    .form-group
                      label.col-sm-3.control-label(for='passphrase') Enter a passphrase
                      .col-sm-7
                        input.form-control.blackinput(type='password', name='passphrase', id='passphrase', placeholder='************')
                    .form-group
                      label.col-sm-3.control-label(for='passphrase2') Confirm passphrase
                      .col-sm-7
                        input.form-control.blackinput(type='password', name='passphrase2', id='passphrase2', placeholder='************')
              .modal-footer(style='border-top: none !important;')
                  button.btn.btn-gold(type='submit', id='submit', onclick='confirmede()') Encrypt Wallet
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
    .container(style='width:90%')
      p(align='center')
        h3(align='center', style='margin:30px;').animate__animated.animate__bounce
          | Everything is 
          span(style='color: #42B905;') Great!
      div(align='center', style='top: -62px;position:relative;padding-right:15px;float:right;')
        span(class='autorefresh') Auto Refresh
        label.switch2(align='center')
          input#autoRefreshCheckbox(type='checkbox', value='true', checked='checked')
          span.slider2.round(align='center')
          script(type='text/javascript').
            setInterval(function ()
            {
            if (document.getElementById('autoRefreshCheckbox').checked)
            {
            window.location=window.location;
            }
            }, 30000); // 30 seconds for auto refresh enabled
      .row(class='rowclass balancerow').animate__animated.animate__fadeIn
        .col-sm-6
          h3(style='font-size:48px;color: #393939;margin-top:0px;') 
            i.fas.fa-wallet 
            |  Balance
          p 
          .bal(style='font-size:2.5em;') #{balance}
            small(style='font-size:16px;')  D
          p
          .bal(style='font-size:1.6em;color:#888;') $#{usdbalance}
            small(style='font-size:16px;')  USD @ $#{currentprice} ea
        .col-sm-3
          h3(style='font-weight:light;font-size:28px;color: #393939;margin-top:15px;') Unconfirmed
          p 
          .bal(style='font-size:1.7em;') #{unbalance}
            small(style='font-size:16px;')  D
        .col-sm-3
          h3(style='font-weight:light;font-size:28px;color: #393939;margin-top:15px;') In Stake
          p 
          .bal(style='font-size:1.7em;') #{instake}
            small(style='font-size:16px;')  D
      .row(class='rowclass').animate__animated.animate__fadeIn
        .col-md-6
          .bal(style='font-size:1.9vw;font-weight:100;text-align:center;', align='center') #{address}
          br
          .qrcode(align='center')
            a(href='denarius:' + address)
              img(src='' + qrcode, style='border-radius:10px;')
          br
        .col-md-2
          form.form-horizontal(action='/getnewaddress', method='POST', id='sendaddy', style='margin-top:55px;', align='center')
            input(type='hidden', name='_csrf', value=_csrf)
            button.btn.btn-default(type='submit', id='sendu', onclick='getaddress()')
              i(class='fa fa-5x fa-address-card', align='center')
            br
            br
            | Get New Address
        .col-md-2
          p(align='center', style='margin-top:55px;')
            button.btn.btn-default(type='button', id='sendu', data-toggle='modal', data-target=walletlink)
              i(class=walleticon, align='center')
            br
            br
            | Wallet is #{walletstatus}
        .col-md-2
          p(align='center')
            !=sending
      .row(class='rowclass').animate__animated.animate__fadeIn
          .col-md-3
            h3(style='font-weight:light;font-size:48px;color: #393939;margin-top:0px;margin-bottom:15px;') 
              i.fas.fa-hdd 
              |  Stats
            p Block Height: 
              strong #{blockheight}
              p Denarius Version #{version}
              p Protocol v#{protocol}
              p Is Syncing: #{syncing}
              p Peer Connections: 
                strong #{peers}
          .col-md-3
            p(style='margin-top:62px;') Node IP Address: #{ip}:33369
              p FortunaStakes Online: 
                strong #{fscount}
              p Fortunastake Node: #{fs}
              p Native Tor Enabled: #{tor}
              p Data Directory Location: 
                br
                small(style='color:#777;') #{datadir}
          .col-md-6
            .row
              .col-sm-6(align='center')
                #container(name='container') &nbsp;
              .col-sm-6(align='center')
                #container2(name='container2') &nbsp;
      .row(class='rowclass').animate__animated.animate__fadeIn
        .col-sm-3
          p
            | PoW Mining Hashrate 
            br 
            h4 
              strong #{nethash}
              small  MH/sec
            br
            | Tribus PoW Difficulty 
            strong #{diff}
            br
            | Staking PoS Difficulty 
            strong #{stakediff}
        .col-sm-3
          p 
            | Staking is 
            span(class=enabletoggle)
              | #{enabletoggle} 
            | and 
            span(class=staketoggle) 
              | #{staketoggle}
          p
            | Network Stake Weight 
            strong #{netweight}
          p
            | Your Stake Weight 
            strong #{yourweight}
          p
            | Network Stake Rate is 6% APR of D
        .col-sm-3
          p(align='center')
            img(src='../img/denarius.png', height='128px;', align='center')
        .col-sm-3
          p
            i.fa.fa-arrow-up 
            |  Data Sent 
            strong #{datasent}
          p
            i.fa.fa-arrow-down 
            |  Data Received 
            strong #{datareceived}
          p
            i.fas.fa-stopwatch 
            |  Target Timeframe 
            strong #{timeframe}
          p
            i.fas.fa-hourglass-half 
            |  Upload Target Limit 
            strong #{target} 
      .row(class='rowclass', style='margin-bottom:150px;').animate__animated.animate__fadeIn
        h3(style='font-weight:light;font-size:48px;color: #393939;margin-top:0px;margin-bottom:30px;') 
          i.fas.fa-microchip 
          |  System Info
        .col-sm-6
          p Physical Cores #{cores} / #{threads} Threads
          p Core Clock Speed: #{avg} GHz - Average CPU Load: #{avgload}
          p CPU Tempature: #{temp} °C
          p Memory Usage:  #{memu} GB Used / #{memf} GB Free / #{memt} GB Total
          p Architecture: #{arch}
          #ram(data-value=mempp)
          #cpu(data-value=cpu)
        .col-sm-6
          p OS Name: #{osname}
          p Platform: #{platform}
          p Release: #{release}
          p Kernel: #{kernel}
          p Hostname: #{hostname}