extends layout

block content
  script(src='../js/lib/jquery-3.1.1.min.js')  
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io('//localhost:3300');
    socket.on('cpudata', function (data) {
      // console.log(data);
      $('#cores').html(data.cores);
      $('#threads').html(data.threads);
    });
    socket.on('notifications', function (data) {
      // console.log(data);
      if (data.notifydb != '') {
        $('#notify').html("<div class='notifytx animate__animated animate__zoomInRight' id='notificationtx' style='background-color:#000000e8;border:3px solid #ffffff3d;border-radius:15px;padding:30px;font-size:13px;width:600px;position:fixed;right:0;bottom:5px;z-index:9999999;display:visible;' align='center'>Denarius TX Notification<br/><a href='/transactions' style='color:#999;font-size:0.85rem;'>"+ data.notifydb.toString() +"</a><div id='buttonfloat' style='top:36px;position:absolute;right:15px;' onclick='closeNotify()'><button type='submit' style='background-color:transparent;color:#666;border:none;' onclick='closeNotify()'>X</button></div></div>");
      }
    });
    socket.on('cpuspeed', function (data) {
      // console.log(data);
      $('#avg').html(data.avg);
    });
    socket.on('temp', function (data) {
      // console.log(data);
      $('#temp').html(data.temp);
    });
    socket.on('seed', function (data) {
      // console.log(data);
      $('#addresses').html(data.seedaddresses);
    });
    socket.on('osinfo', function (data) {
      // console.log(data);
      $('#osname').html(data.osname);
      $('#kernel').html(data.kernel);
      $('#platform').html(data.platform);
      $('#release').html(data.release);
      $('#hostname').html(data.hostname);
      $('#arch').html(data.arch);
    });
    socket.on('dchain', function (data) {
      // console.log(data);
      $('#blockheight').html(data.blockheight);
      $('#balance').html(data.balance);
      $('#unbalance').html(data.unbalance);
      $('#instake').html(data.stakebal);
      $('#peers').html(data.peers);
      $('#datasent').html(data.datasent);
      $('#datareceived').html(data.datareceived);
      $('#diff').html(data.diff);
      $('#stakediff').html(data.stakediff);
      $('#nethash').html(data.nethash);
      $('#netweight').html(data.netweight);
      $('#yourweight').html(data.yourweight);
    });
    socket.on('usdinfo', function (data) {
      // console.log(data);
      $('#usdbalance').html(data.usdbalance.toFixed(2));
      $('#currentprice').html(data.currentprice.toFixed(2));
    });
    socket.on('cpuload', function (data1) {
      //console.log(data1.cpu);
      //$('#cpu').html(data.cpu);
      //$('#cpu').data('value',data1.cpu);
      ldbar1 = new ldBar("#cpuy", {
                    "stroke-width": 8,
                    "preset": "circle",
                    "pattern-size": "32",
                    "stroke": "../img/maze.svg",
                    "stroke-linecap": "round"
                    });
      ldbar1.set(data1.cpu.toFixed(2) * 100, true);
      $('#avgload').html(data1.cpu.toFixed(2) * 100);

    });
    socket.on('memory', function (data2) {
      //console.log(data2.mempp);
      //$('.ldBar').attr('data-value', data2.mempp.toFixed(2) * 100);
      ldbar = new ldBar("#rammy", {
                    "stroke-width": 8,
                    "preset": "circle",
                    "pattern-size": "32",
                    "stroke": "../img/maze.svg",
                    "stroke-linecap": "round"
                    });
      ldbar.set(data2.mempp.toFixed(2) * 100, true);
      $('#memu').html(data2.memu);
      $('#memt').html(data2.memt);
      $('#memf').html(data2.memf);
      //$('#rammy').html("data-value=" + data2.mempp.toFixed(2) + "")
    });
  script. 
    function confirmedu() {
      $('#sendunlock').submit();
    }
    function confirmedus() {
      $('#sendunlocks').submit();
    }
    function confirmedl() {
      $('#sendlock').submit();
    }
    function confirmede() {
      $('#sendencrypt').submit();
    }
    function closeNotify() {
      var c = document.getElementById("notificationtx")
      c.style.display = "none";
    }
    function displayus() {
      var y = document.getElementById("DisplayModalUnlock");
      y.style.display = "none";      
    }
    function toggl() {
      var x = document.getElementById("pkey");
      var y = document.getElementById("reveal");
      if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none";
      } else {
        x.style.display = "none";
      }
    }
  #notify
  .maincontent(style='border: none !important;')
    #DisplayModalUnlockStaking.modal(style='z-index:1100 !important;')
      .modal-dialog
          .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
              .modal-header(style='border-bottom: none !important;')
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                  h4.modal-title Unlock Denarius Wallet
              .modal-body
                .form-horizontal
                  .row
                    .col-sm-3(align='center')
                      i.fa.fa-unlock.fa-5x
                    .col-sm-9(style='margin-top:10px !important;')
                      p(align='left')
                        strong Are you sure you want to unlock your wallet for staking only?
                      p(align='left')
                        | Enter your Denarius wallet encryption passphrase below
                  br
                  form.form-horizontal(action='/unlockstaking', method='POST', id='sendunlocks')
                    input(type='hidden', name='_csrf', value=_csrf)
                    .form-group
                      label.col-sm-3.control-label(for='password') Enter passphrase
                      .col-sm-7
                        input.form-control.blackinput(type='password', name='password', id='password', placeholder='************')
              .modal-footer(style='border-top: none !important;')
                  button.btn.btn-success(type='submit', id='submit', onclick='confirmedus()') Unlock Wallet For Staking Only
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
    #DisplayModalUnlock.modal
      .modal-dialog
          .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
              .modal-header(style='border-bottom: none !important;')
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                  h4.modal-title Unlock Denarius Wallet
              .modal-body
                .form-horizontal
                  .row
                    .col-sm-3(align='center')
                      i.fa.fa-unlock.fa-5x
                    .col-sm-9(style='margin-top:10px !important;')
                      p(align='left')
                        strong Are you sure you want to unlock your wallet?
                      p(align='left')
                        | Enter your Denarius wallet encryption passphrase below
                  br
                  form.form-horizontal(action='/unlock', method='POST', id='sendunlock')
                    input(type='hidden', name='_csrf', value=_csrf)
                    .form-group
                      label.col-sm-3.control-label(for='password') Enter passphrase
                      .col-sm-7
                        input.form-control.blackinput(type='password', name='password', id='password', placeholder='************')
              .modal-footer(style='border-top: none !important;')
                  button.btn.btn-warning(type='button', id='sendunlocks', onclick='displayus()', data-toggle='modal', data-target='#DisplayModalUnlockStaking') Unlock for Staking Only
                  button.btn.btn-success(type='submit', id='submit', onclick='confirmedu()') Unlock Wallet
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
    #DisplayModalLock.modal
      .modal-dialog
          .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
              .modal-header(style='border-bottom: none !important;')
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                  h4.modal-title Lock Denarius Wallet
              .modal-body
                .form-horizontal
                .row
                  .col-sm-3(align='center')
                    i.fa.fa-lock.fa-5x
                  .col-sm-9
                    p(align='left')
                      strong Are you sure you want to lock your wallet?
                    form.form-horizontal(action='/lock', method='POST', id='sendlock')
                      input(type='hidden', name='_csrf', value=_csrf)
                      p(align='left') Locking your wallet will prevent staking rewards and the staker thread from running, but your coinage on your D will still grow.
              .modal-footer(style='border-top: none !important;')
                  button.btn.btn-danger(type='submit', id='submit', onclick='confirmedl()') Lock Wallet
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
    #DisplayModalEncrypt.modal
      .modal-dialog
          .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
              .modal-header(style='border-bottom: none !important;')
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                  h4.modal-title Encrypt Denarius Wallet
              .modal-body
                .form-horizontal
                  .row
                    .col-sm-3(align='right')
                      i.fa.fa-lock.fa-5x
                    .col-sm-9(style='margin-top:10px !important;')
                      p(align='left')
                        strong Are you sure you want to encrypt your wallet?
                      p(align='left')
                        | Enter a wallet encryption passphrase below
                  br
                  form.form-horizontal(action='/encrypt', method='POST', id='sendencrypt')
                    input(type='hidden', name='_csrf', value=_csrf)
                    .form-group
                      label.col-sm-3.control-label(for='passphrase') Enter a passphrase
                      .col-sm-7
                        input.form-control.blackinput(type='password', name='passphrase', id='passphrase', placeholder='************')
                    .form-group
                      label.col-sm-3.control-label(for='passphrase2') Confirm passphrase
                      .col-sm-7
                        input.form-control.blackinput(type='password', name='passphrase2', id='passphrase2', placeholder='************')
              .modal-footer(style='border-top: none !important;')
                  button.btn.btn-gold(type='submit', id='submit', onclick='confirmede()') Encrypt Wallet
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
    .container(style='width:90%')
      p(align='center')
        h3(align='center', style='margin:30px;').animate__animated.animate__bounce
          | Everything is 
          span(style='color: #42B905;') Great!
      div(align='center', style='top: -62px;position:relative;padding-right:15px;float:right;')
        span(class='autorefresh') Auto Refresh
        label.switch2(align='center')
          input#autoRefreshCheckbox(type='checkbox', value='true', checked='checked')
          span.slider2.round(align='center')
          script(type='text/javascript').
            setInterval(function ()
            {
            if (document.getElementById('autoRefreshCheckbox').checked)
            {
            window.location=window.location;
            }
            }, 60000); // 60 seconds for auto refresh enabled
      .row(class='rowclass balancerow').animate__animated.animate__fadeIn
        .col-sm-6
          h3(style='font-size:48px;color: #393939;margin-top:0px;') 
            i.fas.fa-wallet 
            |  Balance
          p 
          .bal(style='font-size:2.5em;') 
            span#balance
            small(style='font-size:16px;')  D
          p
          .bal(style='font-size:1.6em;color:#888;') $
            span#usdbalance
            small(style='font-size:16px;')  USD @ $
              span#currentprice
              |  ea
        .col-sm-3
          h3(style='font-weight:light;font-size:28px;color: #393939;margin-top:15px;') Unconfirmed
          p 
          .bal(style='font-size:1.7em;')
            span#unbalance
            small(style='font-size:16px;')  D
        .col-sm-3
          h3(style='font-weight:light;font-size:28px;color: #393939;margin-top:5px;') In Stake
          p 
          .bal(style='font-size:1.7em;') 
            span#instake
            small(style='font-size:16px;')  D
      .row(class='rowclass').animate__animated.animate__fadeIn
        .col-md-6
          .bal(style='font-size:1.9vw;font-weight:100;text-align:center;', align='center') #{address}
          br
          .qrcode(align='center')
            a(href='denarius:' + address)
              img(src='' + qrcode, style='border-radius:10px;')
          br
        .col-md-2
          form.form-horizontal(action='/getnewaddress', method='POST', id='sendaddy', style='margin-top:55px;', align='center')
            input(type='hidden', name='_csrf', value=_csrf)
            button.btn.btn-default(type='submit', id='sendu', onclick='getaddress()')
              i(class='fa fa-5x fa-address-card', align='center')
            br
            br
            | Get New Address
        .col-md-2
          p(align='center', style='margin-top:55px;')
            button.btn.btn-default(type='button', id='sendu', data-toggle='modal', data-target=walletlink)
              i(class=walleticon, align='center')
            br
            br
            | Wallet is #{walletstatus}
        .col-md-2
          p(align='center')
            !=sending
      .row(class='rowclass').animate__animated.animate__fadeIn
          .col-md-3
            h3(style='font-weight:light;font-size:48px;color: #393939;margin-top:0px;margin-bottom:15px;') 
              i.fas.fa-hdd 
              |  Stats
            p Block Height: 
              strong#blockheight
              p Denarius Version #{version}
              p Protocol v#{protocol}
              p Is Syncing: #{syncing}
              p Peer Connections: 
                strong#peers
          .col-md-3
            p(style='margin-top:62px;') Node IP Address: #{ip}:33369
              p FortunaStakes Online: 
                strong #{fscount}
              p Fortunastake Node: #{fs}
              p Native Tor Enabled: #{tor}
              p Data Directory Location: 
                br
                small(style='color:#777;') #{datadir}
          .col-md-6
            .row
              .col-sm-6(align='center')
                #rammy.label-center(style='width:250px;height:250px;')
                span(style='color:#777;') RAM Usage
              .col-sm-6(align='center')              
                #cpuy.label-center(style='width:250px;height:250px;')
                span(style='color:#777;') CPU Usage
      .row(class='rowclass').animate__animated.animate__fadeIn
        .col-sm-3
          p
            | PoW Mining Hashrate 
            br 
            h4 
              strong#nethash
              small  MH/sec
            br
            | Tribus PoW Difficulty 
            strong#diff
            br
            | Staking PoS Difficulty 
            strong#stakediff
        .col-sm-3
          p 
            | Staking is 
            span(class=enabletoggle)
              | #{enabletoggle} 
            | and 
            span(class=staketoggle) 
              | #{staketoggle}
          p
            | Network Stake Weight 
            strong#netweight            
          p
            | Your Stake Weight 
            strong#yourweight
          p
            | Network Stake Rate is 6% APR of D
        .col-sm-3
          p(align='center')
            img(src='../img/denarius.png', height='128px;', align='center')
        .col-sm-3
          p
            i.fa.fa-arrow-up 
            |  Data Sent 
            strong#datasent
          p
            i.fa.fa-arrow-down 
            |  Data Received 
            strong#datareceived
          p
            i.fas.fa-stopwatch 
            |  Target Timeframe 
            strong #{timeframe}
          p
            i.fas.fa-hourglass-half 
            |  Upload Target Limit 
            strong #{target} 
      .row(class='rowclass', style='margin-bottom:150px;').animate__animated.animate__fadeIn
        h3(style='font-weight:light;font-size:48px;color: #393939;margin-top:0px;margin-bottom:30px;') 
          i.fas.fa-microchip 
          |  System Info
        .col-sm-6
          p Physical Cores 
            span#cores
            |  /  
            span#threads 
            |  Threads
          p Core Clock Speed: 
            span#avg
            |  GHz - CPU Load: 
            span#avgload 
            | %
          p CPU Tempature: 
            span#temp 
            |  °C
          p Memory Usage:  
            span#memu
            |  GB Used / 
            span#memf
            |  GB Free / 
            span#memt 
            |  GB Total
          p Architecture: 
            span#arch
          #ram(data-value=mempp)
          #cpu(data-value=cpu)
        .col-sm-6
          p OS Name: 
            span#osname
          p Platform: 
            span#platform
          p Release: 
            span#release
          p Kernel: 
            span#kernel
          p Hostname: 
            span#hostname