extends ../layoutsimplechat

block content
  link(href='https://cdnjs.cloudflare.com/ajax/libs/tippy.js/2.5.4/tippy.css')
  style.
      .btn-primary {
        background-color: #ca8500 !important;
        border-color: #ca8500 !important;
        font-size:21px;
      }
      
      .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
        background-color: #e79f16 !important;
        border-color: #e79f16 !important;
      }

      .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
      }

      .upload-wrap {
        margin-top: 20px;
        border: 2px dashed #d19e12;
        background-color: #111;
        position: relative;
        cursor: pointer;
        border-radius:15px;
      }

      .image-dropping,
      .upload-wrap:hover {
        background-color: #000;
        border: 2px dashed #d19e12;
        cursor: pointer;
        border-radius:15px;
      }

      .drag-text {
        text-align: center;
        cursor: pointer;
      }

      .drag-text h3 {
        font-weight: 100;
        text-transform: uppercase;
        color: #FFF;
        padding: 60px 0;
        cursor: pointer;
        margin-top: 10px !important;
      }
      
      .hash {
        width: 80%;
        background-color: #222;
        border: 1px solid #444;
        border-radius: 0 15px 15px 0;
        padding: 5px;
        padding-left: 15px;
        color: #FFF;
      }
  #peersCount
  #ethaccount(data-value=ethaddress)
  #daccount(data-value=mainaddress)
  #btcaccount(data-value=btcaddress)
  #senddloading
    #loadert(align='center').loadtxtt
      img(src='../img/kload.gif', alt='Sending...', border='0')
      h1 Sending D, Please wait...
        br
        small Kronos is signing and broadcasting your transaction
  #DisplayModalIPFS.modal
    .modal-dialog
      .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
        .modal-header(style='border-bottom: none !important;')
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4.modal-title IPFS File Upload
        .modal-body
          #fileupload(style='padding:25px;background-color:#333;border-radius:10px;color:#fff;')
            div(style='font-size:19px;padding-bottom:25px;')
              strong Kronos IPFS Upload
              small  - Decentralize your files!
              br
              span(style='font-size:11px;') 
                strong 100 MB 
                | Max File Upload Limit
            form
              .upload-wrap
                input(type='hidden' name='_csrf' value=csrftoken)
                input#file.file-input.file-upload-input(type='file', onchange='loadFile(event)', style='background-color:#333 !important; color: #FFF !important;')
                .drag-text
                  h3(style='cursor:pointer;') Drag and drop a file to upload
            br
            div(align='center')
              #progress(style='font-size:26px;')
              input(type='hidden' name='_csrf' value=csrftoken)
              input#send_ipfs.btn.btn-primary(type='button', value='Upload!', onclick='javascript:sendIpfs();', style='display: none;cursor:pointer;')
          #mhash(align='center' style='display:none;padding:25px;background-color:#333;border-radius:10px;color:#fff;')
            span#linkedhash
        .modal-footer(style='border-top: none !important;')
          button.btn.btn-default(type='button', data-dismiss='modal', style='background-color: #602828;border-radius: 15px;font-size: 15px !important;', onclick='$("#DisplayModalIPFS").hide();$("#message").focus();') Close  
  #SubmitDisplayModal.modal
    .modal-dialog
        .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
            .modal-header(style='border-bottom: none !important;')
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4.modal-title Enter Amount
            .modal-body
              .form-horizontal
                p(align='center')
                  strong Amount of Denarius (D) to send
                .form-group
                  label.col-sm-3.control-label(for='total') Send Amount
                  .col-sm-8
                    .input-group
                      input(type='hidden' name='_csrf' value=csrftoken)
                      input.form-control.blackinput2(type='text', style='width:100% !important;', id='dsendamount', name='dsendamount', placeholder='1.337', onkeyup='updateD()')
                      span.input-group-addon(style='background-color:#333;color:#FFF;border:none;border-top-right-radius: 15px !important;border-bottom-right-radius: 15px !important;') D
                  .col-sm-12
                    br
                    .feestxt(align='center')
                      strong + 0.00003 D 
                      | in network fees
            .modal-footer(style='border-top: none !important;')
                button.btn.btn-success(type='submit', id='submit', onclick='confirmSendD()', style='background-color: #546639;border-radius: 15px;font-size: 15px !important;') Confirm and Send D
                button.btn.btn-default(type='button', data-dismiss='modal', style='background-color: #602828;border-radius: 15px;font-size: 15px !important;', onclick='$("#SubmitDisplayModal").hide();$("#message").focus();') Cancel   
  #connecthead(style='background-color:#111;padding:20px;width:100%;text-align:center;')
    span#loader(style='text-align: center; color: #fff; vertical-align: middle;') Encrypting & Connecting...Please wait...
    span#connectdot(style='text-align: center; color: #46a900; vertical-align: middle;')
  #chatpop 
    a(href="#", onclick='javascript:window.open("http://'+lanip+':3000/chat", "_blank", "titlebar=no,toolbar=no,scrollbars=yes,location=no,resizable=yes,top=100,left=500,width=1300,height=800");')
      i.fas.fa-link
  #connecthead2(style='background-color:#111;width:100%;text-align:center;padding-bottom: 10px;')
    #channels(style='display:none;')
      button(id='generalbtn', style='border-radius: 5px; padding: 5px 10px; margin: 5px; display: inline-block;border: none;outline:none;cursor:pointer;', onClick="generalchat()").orange 🌏 #general
      button(id='gamingbtn', style='border-radius: 5px; padding: 5px 10px; margin: 5px; display: inline-block;border: none;outline:none;cursor:pointer;', onClick="gamingchat()").grey 🎮 #gaming
      button(id='privatebtn', style='border-radius: 5px; padding: 5px 10px; margin: 5px; display: inline-block;border: none;outline:none;cursor:pointer;', onClick="privatechat()").grey 🔒 #private
      button(id='tradebtn', style='border-radius: 5px; padding: 5px 10px; margin: 5px; display: inline-block;border: none;outline:none;cursor:pointer;', onClick="tradechat()").grey 🤝 #trade
  #logingroup(style='')
    .input-group#alias(style='width:350px;margin:0 auto;top: 50%;left: 40%;position: absolute;z-index:10002;')
      input(type='hidden' name='_csrf' value=csrftoken)
      input.blackinputchat.form-control#entername(type='text', placeholder='Enter an alias to start chatting...', maxlength='15' autofocus)
      span#enter.input-group-addon(style='background-color:#222;color:#999;border-color: #444;border-top-right-radius:15px;border-bottom-right-radius:15px;outline:none;cursor:pointer;', onClick='enterChat()')
        i.fas.fa-arrow-circle-right
  #loginbg(style='background: rgb(56,56,56);background: radial-gradient(circle, rgba(56,56,56,1) 0%, rgba(17,17,17,1) 77%);width: 100%;height: calc(100% - 162px);position: absolute; z-index: 1000;')
  #messagewrapper.general(style='margin: 0 auto;margin-top:0px;overflow-x:hidden;display: flex;flex-direction: column-reverse;background-color:#111;border-bottom-left-radius:15px;border-bottom-right-radius:15px;padding:30px;width:95%;height: calc(100vh - 290px); position: absolute;left: 50%;transform: translate(-50%, 0);overflow-y: scroll;margin-bottom:15px;')
    #messagehodler(style='')
      #messages
      #messagesgaming(style='display:none;')
      #messagesprivate(style='display:none;')
      #messagestrade(style='display:none;')
  .input-group#chatinput(style='display:none;bottom:25px;position: absolute;left: 50%;transform: translate(-50%, -35px);width:95%;z-index:999;margin:0 auto;')
    input(type='hidden' name='_csrf' value=csrftoken)
    input.blackinputchat#message.form-control(type='text', placeholder='Type a message...', data-value=ethaddress, data-emoji-input="unicode" autofocus)
    span#ipfsup.input-group-addon(onclick='openIPFS()', style='background-color:#222;color:#999;border-left: none;border-color: #444;outline:none;cursor:pointer;')
      i.fas.fa-file-upload
    span#cancelpm.input-group-addon(onclick='swapPublic()', style='display:none;background-color:#222;color:#999;border-left: none;border-color: #444;outline:none;cursor:pointer;')
      i.fas.fa-comment-slash
    span#mutebutton.input-group-addon(onclick='muteAudio()', style='background-color:#222;color:#999;border-left: none;border-color: #444;outline:none;cursor:pointer;')
      i.fas.fa-volume-up
    span.input-group-addon#emoji-trigger(style='background-color:#222;color:#999;border-color: #444;border-left: none;outline:none;cursor:pointer;')
      i.far.fa-smile-beam
    span#send.input-group-addon(style='background-color:#222;color:#999;border-color: #444;border-top-right-radius:15px;border-bottom-right-radius:15px;outline:none;')
      i.far.fa-paper-plane
  .input-group#chatinputgaming(style='display:none;bottom:25px;position: absolute;left: 50%;transform: translate(-50%, -35px);width:95%;z-index:999;margin:0 auto;')
    input(type='hidden' name='_csrf' value=csrftoken)
    input.blackinputchat#messagegaming.form-control(type='text', placeholder='Type a message...', data-value=ethaddress, data-emoji-input="unicode" autofocus)
    span#ipfsup.input-group-addon(onclick='openIPFS()', style='background-color:#222;color:#999;border-left: none;border-color: #444;outline:none;cursor:pointer;')
      i.fas.fa-file-upload
    span#cancelpm.input-group-addon(onclick='swapPublic()', style='display:none;background-color:#222;color:#999;border-left: none;border-color: #444;outline:none;cursor:pointer;')
      i.fas.fa-comment-slash
    span#mutebutton.input-group-addon(onclick='muteAudio()', style='background-color:#222;color:#999;border-left: none;border-color: #444;outline:none;cursor:pointer;')
      i.fas.fa-volume-up
    span.input-group-addon#emoji-trigger(style='background-color:#222;color:#999;border-color: #444;border-left: none;outline:none;cursor:pointer;')
      i.far.fa-smile-beam
    span#sendgaming.input-group-addon(style='background-color:#222;color:#999;border-color: #444;border-top-right-radius:15px;border-bottom-right-radius:15px;outline:none;')
      i.far.fa-paper-plane
  .input-group#chatinputprivate(style='display:none;bottom:25px;position: absolute;left: 50%;transform: translate(-50%, -35px);width:95%;z-index:999;margin:0 auto;')
    input(type='hidden' name='_csrf' value=csrftoken)
    input.blackinputchat#messageprivate.form-control(type='text', placeholder='Type a message...', data-value=ethaddress, data-emoji-input="unicode" autofocus)
    span#ipfsup.input-group-addon(onclick='openIPFS()', style='background-color:#222;color:#999;border-left: none;border-color: #444;outline:none;cursor:pointer;')
      i.fas.fa-file-upload
    span#cancelpm.input-group-addon(onclick='swapPublic()', style='display:none;background-color:#222;color:#999;border-left: none;border-color: #444;outline:none;cursor:pointer;')
      i.fas.fa-comment-slash
    span#mutebutton.input-group-addon(onclick='muteAudio()', style='background-color:#222;color:#999;border-left: none;border-color: #444;outline:none;cursor:pointer;')
      i.fas.fa-volume-up
    span.input-group-addon#emoji-trigger(style='background-color:#222;color:#999;border-color: #444;border-left: none;outline:none;cursor:pointer;')
      i.far.fa-smile-beam
    span#sendprivate.input-group-addon(style='background-color:#222;color:#999;border-color: #444;border-top-right-radius:15px;border-bottom-right-radius:15px;outline:none;')
      i.far.fa-paper-plane
  .input-group#chatinputtrade(style='display:none;bottom:25px;position: absolute;left: 50%;transform: translate(-50%, -35px);width:95%;z-index:999;margin:0 auto;')
    input(type='hidden' name='_csrf' value=csrftoken)
    input.blackinputchat#messagetrade.form-control(type='text', placeholder='Type a message...', data-value=ethaddress, data-emoji-input="unicode" autofocus)
    span#ipfsup.input-group-addon(onclick='openIPFS()', style='background-color:#222;color:#999;border-left: none;border-color: #444;outline:none;cursor:pointer;')
      i.fas.fa-file-upload
    span#cancelpm.input-group-addon(onclick='swapPublic()', style='display:none;background-color:#222;color:#999;border-left: none;border-color: #444;outline:none;cursor:pointer;')
      i.fas.fa-comment-slash
    span#mutebutton.input-group-addon(onclick='muteAudio()', style='background-color:#222;color:#999;border-left: none;border-color: #444;outline:none;cursor:pointer;')
      i.fas.fa-volume-up
    span.input-group-addon#emoji-trigger(style='background-color:#222;color:#999;border-color: #444;border-left: none;outline:none;cursor:pointer;')
      i.far.fa-smile-beam
    span#sendtrade.input-group-addon(style='background-color:#222;color:#999;border-color: #444;border-top-right-radius:15px;border-bottom-right-radius:15px;outline:none;')
      i.far.fa-paper-plane
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tippy.js/2.5.4/tippy.min.js')
  script.
    var boxy = document.getElementById("threebox").getAttribute("data-value");
    var tipp = document.getElementById("messages");
    if (tipp != null)
      tippy('#messages', { target: '.tooltippy' });