extends ../layoutsimplechat

block content
  link(href='https://cdnjs.cloudflare.com/ajax/libs/tippy.js/2.5.4/tippy.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tippy.js/2.5.4/tippy.min.js')
  script.
    var boxy = document.getElementById("threebox").getAttribute("data-value");
    tippy('#messages', { target: '.tooltippy' });
  #peersCount
  #ethaccount(data-value=ethaddress)
  #daccount(data-value=mainaddress)
  #btcaccount(data-value=btcaddress)
  #senddloading
    #loadert(align='center').loadtxtt
      img(src='../img/kload.gif', alt='Sending...', border='0')
      h1 Sending D, Please wait...
        br
        small Kronos is signing and broadcasting your transaction
  #SubmitDisplayModal.modal
    .modal-dialog
        .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
            .modal-header(style='border-bottom: none !important;')
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4.modal-title Enter Amount
            .modal-body
              .form-horizontal
                p(align='center')
                  strong Amount of Denarius (D) to send
                .form-group
                  label.col-sm-3.control-label(for='total') Send Amount
                  .col-sm-8
                    .input-group
                      input(type='hidden' name='_csrf' value=csrftoken)
                      input.form-control.blackinput2(type='text', style='width:100% !important;', id='dsendamount', name='dsendamount', placeholder='1.337', onkeyup='updateD()')
                      span.input-group-addon(style='background-color:#333;color:#FFF;border:none;border-top-right-radius: 15px !important;border-bottom-right-radius: 15px !important;') D
                  .col-sm-12
                    br
                    .feestxt(align='center')
                      strong + 0.00003 D 
                      | in network fees
            .modal-footer(style='border-top: none !important;')
                button.btn.btn-success(type='submit', id='submit', onclick='confirmSendD()', style='background-color: #546639;border-radius: 15px;font-size: 15px !important;') Confirm and Send D
                button.btn.btn-default(type='button', data-dismiss='modal', style='background-color: #602828;border-radius: 15px;font-size: 15px !important;', onclick='$("#SubmitDisplayModal").hide();$("#message").focus();') Cancel   
  #connecthead(style='background-color:#111;padding:20px;width:100%;text-align:center;')
    span#loader(style='text-align: center; color: #fff; vertical-align: middle;') Encrypting & Connecting...Please wait...
    span#connectdot(style='text-align: center; color: #46a900; vertical-align: middle;')
  #logingroup(style='')
    .input-group#alias(style='width:350px;margin:0 auto;top: 50%;left: 40%;position: absolute;z-index:10002;')
      input(type='hidden' name='_csrf' value=csrftoken)
      input.blackinputchat.form-control#entername(type='text', placeholder='Enter an alias to start chatting...', maxlength='15' autofocus)
      span#enter.input-group-addon(style='background-color:#222;color:#999;border-color: #444;border-top-right-radius:15px;border-bottom-right-radius:15px;outline:none;cursor:pointer;', onClick='enterChat()')
        i.fas.fa-arrow-circle-right
  #loginbg(style='background: rgb(56,56,56);background: radial-gradient(circle, rgba(56,56,56,1) 0%, rgba(17,17,17,1) 77%);width: 100%;height: calc(100% - 122px);position: absolute; z-index: 1000;')
  #messagewrapper(style='margin: 0 auto;margin-top:0px;overflow-x:hidden;display: flex;flex-direction: column-reverse;background-color:#111;border-bottom-left-radius:15px;border-bottom-right-radius:15px;padding:30px;width:95%;height: calc(100vh - 250px); position: absolute;left: 50%;transform: translate(-50%, 0);overflow-y: scroll;margin-bottom:15px;')
    #messagehodler(style='')
      #messages
  .input-group#chatinput(style='display:none;bottom:25px;position: absolute;left: 50%;transform: translate(-50%, -35px);width:95%;z-index:999;margin:0 auto;')
    input(type='hidden' name='_csrf' value=csrftoken)
    input.blackinputchat#message.form-control(type='text', placeholder='Type a message...', data-value=ethaddress, data-emoji-input="unicode" autofocus)
    span#cancelpm.input-group-addon(onclick='swapPublic()', style='display:none;background-color:#222;color:#999;border-left: none;border-color: #444;outline:none;cursor:pointer;')
      i.fas.fa-comment-slash
    span#mutebutton.input-group-addon(onclick='muteAudio()', style='background-color:#222;color:#999;border-left: none;border-color: #444;outline:none;cursor:pointer;')
      i.fas.fa-volume-up
    span.input-group-addon#emoji-trigger(style='background-color:#222;color:#999;border-color: #444;border-left: none;outline:none;cursor:pointer;')
      i.far.fa-smile-beam
    span#send.input-group-addon(style='background-color:#222;color:#999;border-color: #444;border-top-right-radius:15px;border-bottom-right-radius:15px;outline:none;')
      i.far.fa-paper-plane