extends ../layoutcore

block content
  style.
    .dashloader {
      display: none;
    }
  .topbar(style='background-color:#44444447;height:80px;margin-top:-15px;padding-top:25px;padding-bottom:10px;overflow-y:auto;white-space:nowrap;', align='center')
    a(href='#', data-slide="1", style='font-size:14px;color:#FFF;display:inline-block;')
      img.res.hvr-pulse(src='../img/denarius.png', alt='D', border='0', style='height:55px !important;width: 55px !important;margin:-15px 5px -12px !important;')
    a(href='#', data-slide="2", style='font-size:14px;color:#FFF;display:inline-block;')
      img.res.hvr-pulse(src='../img/bitcoin.png', alt='BTC', border='0', style='height:48px !important;width: 48px !important;margin:-15px 5px -12px !important;')
    a(href='#', data-slide="3", style='font-size:14px;color:#FFF;display:inline-block;')
      img.res.hvr-pulse(src='../img/eth.png', alt='ETH', border='0', style='height:48px !important;width: 48px !important;margin:-15px 5px -12px !important;')
    a(href='#', data-slide="4", style='font-size:14px;color:#FFF;display:inline-block;')
      img.res.hvr-pulse(src='../img/usdt.png', alt='USDT', border='0', style='height:48px !important;width: 48px !important;margin:-15px 5px -12px !important;')
    a(href='#', data-slide="5", style='font-size:14px;color:#FFF;display:inline-block;')
      img.res.hvr-pulse(src='../img/bsc.png', alt='BSC', border='0', style='height:48px !important;width: 48px !important;margin:-15px 5px -12px !important;')
    a(href='#', data-slide="6", style='font-size:14px;color:#FFF;display:inline-block;')
      img.res.hvr-pulse(src='../img/busd.png', alt='BUSD', border='0', style='height:48px !important;width: 48px !important;margin:-15px 5px -12px !important;')
    a(href='#', data-slide="7", style='font-size:14px;color:#FFF;display:inline-block;')
      img.res.hvr-pulse(src='../img/ftm.png', alt='FTM', border='0', style='height:48px !important;width: 48px !important;margin:-15px 5px -12px !important;')
    a(href='#', data-slide="8", style='font-size:14px;color:#FFF;display:inline-block;')
      img.res.hvr-pulse(src='../img/clout.png', alt='CLOUT', border='0', style='height:48px !important;width: 48px !important;margin:-15px 5px -12px !important;')
    .slider-nav(style='display:none;')
      div
        h3 1
      div
        h3 2
      div
        h3 3
      div
        h3 4
      div
        h3 5
      div
        h3 6
      div
        h3 7
      div
        h3 8
  .maincontent(style='border: none !important;')
    .container(style='width:90%')
      //- .div(style='margin-top:25px;')
      //-   form.form-horizontal(action='/search', method='POST', id='explorer')
      //-     input(type='hidden', name='_csrf', value=_csrf)
      //-     input.form-control.blackinput4(type='text', align='center', name='explorersearch', id='explorersearch', placeholder='Search Kronos for Denarius Block # or Transaction Hash or D Address')
      .row(class='rowclass balancerow', style='margin-top:25px !important;padding: 0px !important; padding-top:25px !important;').animate__animated.animate__fadeIn
        .slickk
          div(style='text-align:center;margin-top:20px;')
            p
              img.res.gpulse(src='../img/denarius.png', alt='D', border='0', style='height:100px !important;width: 100px !important;margin:0 auto !important;')
            p 
            .bal(style='font-size:2.5em;') 
              span#totalbal.format #{totalbal || 0}
              small(style='font-size:16px;')  D
            p
            .bal(style='font-size:1.6em;color:#888;') $
              span#usdbalance #{usdbalance || 0}
              small(style='font-size:16px;')  USD @ $
                span#currentprice #{currentprice || 0}
                |  ea
            p
              p
                a.gray(href='http://'+lanip+':3000/createtx', style='color:#FFF;text-decoration:none;outline:none;')
                  |  Send
                button.gray(type='button', id='drecv', onclick='addBlur()', data-toggle='modal', data-target='#DRecv', data-backdrop='static', data-keyboard='false', style='margin-left:10px;')
                  |  Receive
              .bal(style='font-size:1.3vw;font-weight:400;text-align:center;margin-top:10px;', align='center') DENARIUS 
                span#dblock
            .divider(style='background-color:#111 !important;height:2px;width:80%;margin:0 auto;', align='center')
            p
              if (typeof dtxs != 'undefined')
                if (typeof dtxs[0] != 'undefined')
                  .row(style='color:#eee;margin:5px !important;padding:20px;padding-right: 20px !important;border-radius:5px;') 
                    .tablewrapper
                      table.sortable#fst
                        thead
                          tr
                            th Type
                            th Block Height
                            th.sorttable_nosort Time (GMT)
                            th Confirmations
                            th TXID
                        tbody
                          each tx in dtxs
                            tr
                              td(align='center', data-label='Type') 
                                | TX
                              td(align='center', data-label='D Block Height') 
                                a.txid(href='https://chainz.cryptoid.info/d/tx.dws?'+tx.transactionBlock, target='_blank') #{tx.transactionBlock}
                              td(align='center', data-label='Timestamp') 
                                .date= new Date(tx.transactionHex.time*1000).toUTCString().replace('GMT','')
                              td(align='center', data-label='Confirmations') 
                                | #{tx.transactionHex.confirmations}
                              td(align='center', data-label='TXID') 
                                a.txid(href='https://chainz.cryptoid.info/d/tx.dws?'+tx.transactionHex.txid, target='_blank') #{tx.transactionHex.txid}
                else
                  h1(style='color:#666;', align='center') No D Transactions Available
              else
                h1(style='color:#666;', align='center') No D Transactions Available
          div(style='text-align:center;margin-top:20px;')
            p
              img.res.opulse(src='../img/bitcoin.png', alt='BTC', border='0', style='height:100px !important;width: 100px !important;margin:0 auto !important;')
            p 
            .bal(style='font-size:2.5em;') 
              span#totalbtcbal.format #{totalbtcbal || 0}
              small(style='font-size:16px;')  BTC
            p
            .bal(style='font-size:1.6em;color:#888;') $
              span#usdbtcbalance #{usdbtcbalance || 0}
              small(style='font-size:16px;')  USD @ $
                span#currentbtcprice #{currentbtcprice || 0}
                |  ea
            p
              p
                a.gold(href='http://'+lanip+':3000/sendbtc', style='color:#FFF;text-decoration:none;outline:none;')
                  |  Send
                button.gold(type='button', id='btcrecv', onclick='addBlur()', data-toggle='modal', data-target='#BTCRecv', data-backdrop='static', data-keyboard='false', style='margin-left:10px;')
                  |  Receive
              .bal(style='font-size:1.3vw;font-weight:400;text-align:center;margin-top:10px;', align='center') BITCOIN 
                span#btcblock
            .divider(style='background-color:#111 !important;height:2px;width:80%;margin:0 auto;', align='center')
            p
              if (typeof btctxs != 'undefined')
                if (typeof btctxs[0] != 'undefined')
                  .row(style='color:#eee;margin:5px !important;padding:20px;padding-right: 20px !important;border-radius:5px;') 
                    .tablewrapper
                      table.sortable#fst
                        thead
                          tr
                            th Type
                            th Block Height
                            th.sorttable_nosort Time (GMT)
                            th Confirmations
                            th TXID
                        tbody
                          each tx in btctxs
                            if (tx.transactionBlock > 0)
                              tr
                                td(align='center', data-label='Type') 
                                  | TX
                                td(align='center', data-label='BTC Block Height') 
                                  a.txid(href='https://chainz.cryptoid.info/btc/tx.dws?'+tx.transactionBlock, target='_blank') #{tx.transactionBlock}
                                td(align='center', data-label='Timestamp') 
                                  .date= new Date(tx.transactionHex.time*1000).toUTCString().replace('GMT','')
                                td(align='center', data-label='Confirmations') 
                                  | #{tx.transactionHex.confirmations}
                                td(align='center', data-label='TXID') 
                                  a.txid(href='https://chainz.cryptoid.info/btc/tx.dws?'+tx.transactionHex.txid, target='_blank') #{tx.transactionHex.txid}
                          each tx in btcmemtxs
                            tr
                              td(align='center', data-label='Type') 
                                | Mempool
                              td(align='center', data-label='BTC Block Height') 
                                a.txid(href='https://chainz.cryptoid.info/btc/tx.dws?'+tx.transactionBlock, target='_blank') MEM #{tx.transactionBlock}
                              td(align='center', data-label='Timestamp') 
                                .date Waiting
                              td(align='center', data-label='Confirmations') 
                                | Mempool
                              td(align='center', data-label='TXID') 
                                a.txid(href='https://chainz.cryptoid.info/btc/tx.dws?'+tx.transactionHex.txid, target='_blank') #{tx.transactionHex.txid}
                else
                  h1(style='color:#666;', align='center') No BTC Transactions Available
              else
                h1(style='color:#666;', align='center') No BTC Transactions Available
          div(style='text-align:center;margin-top:20px;')
            p
              img.res.epulse(src='../img/eth.png', alt='ETH', border='0', style='height:100px !important;width:100px !important;margin:0 auto !important;')
            p 
            .bal(style='font-size:2.5em;') 
              span#totalethbal.format #{totalethbal || 0}
              small(style='font-size:16px;')  ETH
            p
            .bal(style='font-size:1.6em;color:#888;') $
              span#ethusdbalance #{ethbalance || 0}
              small(style='font-size:16px;')  USD @ $
                span#currentethprice #{currentethprice || 0}
                |  ea
            p
              p
                a.eth(href='http://'+lanip+':3000/sendeth', style='color:#FFF;text-decoration:none;outline:none;')
                  |  Send
                button.eth(type='button', id='btcrecv', onclick='addBlur()', data-toggle='modal', data-target='#ETHRecv', data-backdrop='static', data-keyboard='false', style='margin-left:10px;')
                  |  Receive
              .bal(style='font-size:1.3vw;font-weight:400;text-align:center;margin-top:10px;', align='center') ETHEREUM 
                span#ethhblock
            .divider(style='background-color:#111 !important;height:2px;width:80%;margin:0 auto;', align='center')
            p              
              if (typeof ethtxs != 'undefined')
                if (typeof ethtxs[0] != 'undefined')
                  .row(style='color:#eee;margin:5px !important;padding:20px;padding-right: 20px !important;border-radius:5px;')
                    .tablewrapper
                      table.sortable.ethtable#fst
                        thead
                          tr
                            th Block Height
                            th.sorttable_nosort Time (GMT)
                            th Confirmations
                            th TXID
                        tbody
                          each tx in ethtxs
                            tr
                              td(align='center', data-label='ETH Block Height') !{tx.blockNumber}
                              td(align='center', data-label='Timestamp') 
                                if (typeof tx.timeStamp != 'undefined')
                                  .date= new Date(tx.timeStamp*1000).toUTCString().replace('GMT','')
                              td(align='center', data-label='Confirmations') 
                                .label.label-success(style='background: none;') !{tx.confirmations}
                              td(align='center', data-label='TXID') 
                                a.txid(href=`https://etherscan.io/tx/${tx.hash}`, target='_blank') !{tx.hash}
                else
                  h1(style='color:#666;', align='center') No ETH Transactions Available
          div(style='text-align:center;margin-top:20px;')
            p
              img.res.tpulse(src='../img/usdt.png', alt='USDT', border='0', style='height:100px !important;width:100px !important;margin:0 auto !important;')
            p 
            .bal(style='font-size:2.5em;') 
              span#totalusdtbal.format #{totalusdtbal || 0}
              small(style='font-size:16px;')  USDT
            p
            .bal(style='font-size:1.6em;color:#888;') $
              span#usdtusdbalance #{usdtbalance || 0}
              small(style='font-size:16px;')  USD @ $
                span#currentusdtprice #{currentusdtprice || 0}
                |  ea
            p
              p
                a.usdt(href='http://'+lanip+':3000/sendusdt', style='color:#FFF;text-decoration:none;outline:none;')
                  |  Send
                button.usdt(type='button', id='usdtrecv', onclick='addBlur()', data-toggle='modal', data-target='#USDTRecv', data-backdrop='static', data-keyboard='false', style='margin-left:10px;')
                  |  Receive
              .bal(style='font-size:1.3vw;font-weight:400;text-align:center;margin-top:10px;', align='center') TETHER USD ERC20 
                span#usdtbblock
            .divider(style='background-color:#111 !important;height:2px;width:80%;margin:0 auto;', align='center')
            p
              if (typeof erctxs != 'undefined')
                if (typeof erctxs[0] != 'undefined')
                  .row(style='color:#eee;margin:5px !important;padding:20px;padding-right: 20px !important;border-radius:5px;')
                    .tablewrapper
                      table.sortable#fst
                        thead
                          tr
                            th Block Height
                            th.sorttable_nosort Time (GMT)
                            th Confirmations
                            th TXID
                        tbody
                          each tx in erctxs
                            tr
                              td(align='center', data-label='USDT Block Height') !{tx.blockNumber}
                              td(align='center', data-label='Timestamp') 
                                if (typeof tx.timeStamp != 'undefined')
                                  .date= new Date(tx.timeStamp*1000).toUTCString().replace('GMT','')
                              td(align='center', data-label='Confirmations') 
                                .label.label-success(style='background: none;') !{tx.confirmations}
                              td(align='center', data-label='TXID') 
                                a.txid(href=`https://etherscan.io/tx/${tx.hash}`, target='_blank') !{tx.hash}
                else
                  h1(style='color:#666;', align='center') No USDT Transactions Available
          div(style='text-align:center;margin-top:20px;')
            p
              img.res.opulse(src='../img/bsc.png', alt='BSC', border='0', style='height:100px !important;width:100px !important;margin:0 auto !important;')
            p 
            .bal(style='font-size:2.5em;') 
              span#totalbscbal.format #{totalbscbal || 0}
              small(style='font-size:16px;')  BSC
            p
            .bal(style='font-size:1.6em;color:#888;') $
              span#bscusdbalance #{bscbalance || 0}
              small(style='font-size:16px;')  USD @ $
                span#currentbscprice #{currentbscprice || 0}
                |  ea
            p
              p
                a.gold(href='http://'+lanip+':3000/sendbsc', style='color:#FFF;text-decoration:none;outline:none;')
                  |  Send
                button.gold(type='button', id='bscrecv', onclick='addBlur()', data-toggle='modal', data-target='#BSCRecv', data-backdrop='static', data-keyboard='false', style='margin-left:10px;')
                  |  Receive
              .bal(style='font-size:1.3vw;font-weight:400;text-align:center;margin-top:10px;', align='center') BINANCE SMART CHAIN 
                span#bschblock
            .divider(style='background-color:#111 !important;height:2px;width:80%;margin:0 auto;', align='center')
            p              
              if (typeof bsctxs != 'undefined')
                if (typeof bsctxs[0] != 'undefined')
                  .row(style='color:#eee;margin:5px !important;padding:20px;padding-right: 20px !important;border-radius:5px;')
                    .tablewrapper
                      table.sortable.bsctable#fst
                        thead
                          tr
                            th Block Height
                            th.sorttable_nosort Time (GMT)
                            th Confirmations
                            th TXID
                        tbody
                          each tx in bsctxs
                            tr
                              td(align='center', data-label='BSC Block Height') !{tx.blockNumber}
                              td(align='center', data-label='Timestamp') 
                                if (typeof tx.timeStamp != 'undefined')
                                  .date= new Date(tx.timeStamp*1000).toUTCString().replace('GMT','')
                              td(align='center', data-label='Confirmations') 
                                .label.label-success(style='background: none;') !{tx.confirmations}
                              td(align='center', data-label='TXID') 
                                a.txid(href=`https://bscscan.com/tx/${tx.hash}`, target='_blank') !{tx.hash}
                else
                  h1(style='color:#666;', align='center') No BSC Transactions
          div(style='text-align:center;margin-top:20px;')
            p
              img.res.opulse(src='../img/busd.png', alt='BUSD', border='0', style='height:100px !important;width:100px !important;margin:0 auto !important;')
            p 
            .bal(style='font-size:2.5em;') 
              span#totalbusdbal.format #{totalbusdbal || 0}
              small(style='font-size:16px;')  BUSD
            p
            .bal(style='font-size:1.6em;color:#888;') $
              span#busdusdbalance #{busdbalance || 0}
              small(style='font-size:16px;')  USD @ $
                span#currentbusdprice #{currentbusdprice || 0}
                |  ea
            p
              p
                a.gold(href='http://'+lanip+':3000/sendbusd', style='color:#FFF;text-decoration:none;outline:none;')
                  |  Send
                button.gold(type='button', id='busdrecv', onclick='addBlur()', data-toggle='modal', data-target='#BUSDRecv', data-backdrop='static', data-keyboard='false', style='margin-left:10px;')
                  |  Receive
              .bal(style='font-size:1.3vw;font-weight:400;text-align:center;margin-top:10px;', align='center') BINANCE USD BEP20 
                span#busdhblock
            .divider(style='background-color:#111 !important;height:2px;width:80%;margin:0 auto;', align='center')
            p
              if (typeof beptxs != 'undefined')
                if (typeof beptxs[0] != 'undefined')
                  .row(style='color:#eee;margin:5px !important;padding:20px;padding-right: 20px !important;border-radius:5px;')
                    .tablewrapper
                      table.sortable#fst
                        thead
                          tr
                            th Block Height
                            th.sorttable_nosort Time (GMT)
                            th Confirmations
                            th TXID
                        tbody
                          each tx in beptxs
                            tr
                              td(align='center', data-label='BUSD Block Height') !{tx.blockNumber}
                              td(align='center', data-label='Timestamp') 
                                if (typeof tx.timeStamp != 'undefined')
                                  .date= new Date(tx.timeStamp*1000).toUTCString().replace('GMT','')
                              td(align='center', data-label='Confirmations') 
                                .label.label-success(style='background: none;') !{tx.confirmations}
                              td(align='center', data-label='TXID') 
                                a.txid(href=`https://bscscan.com/tx/${tx.hash}`, target='_blank') !{tx.hash}
                else
                  h1(style='color:#666;', align='center') No BUSD Transactions Available   
          div(style='text-align:center;margin-top:20px;')
            p
              img.res.fpulse(src='../img/ftm.png', alt='FTM', border='0', style='height:100px !important;width:100px !important;margin:0 auto !important;')
            p 
            .bal(style='font-size:2.5em;') 
              span#totalftmbal.format #{totalftmbal || 0}
              small(style='font-size:16px;')  FTM
            p
            .bal(style='font-size:1.6em;color:#888;') $
              span#ftmusdbalance #{ftmbalance || 0}
              small(style='font-size:16px;')  USD @ $
                span#currentftmprice #{currentftmprice || 0}
                |  ea
            p
              p
                a.ftm(href='http://'+lanip+':3000/sendftm', style='color:#FFF;text-decoration:none;outline:none;')
                  |  Send
                button.ftm(type='button', id='ftmrecv', onclick='addBlur()', data-toggle='modal', data-target='#FTMRecv', data-backdrop='static', data-keyboard='false', style='margin-left:10px;')
                  |  Receive
              .bal(style='font-size:1.3vw;font-weight:400;text-align:center;margin-top:10px;', align='center') FANTOM 
                span#ftmhblock
            .divider(style='background-color:#111 !important;height:2px;width:80%;margin:0 auto;', align='center')
            p
              if (typeof ftmtxs != 'undefined')
                if (typeof ftmtxs[0] != 'undefined')
                  .row(style='color:#eee;margin:5px !important;padding:20px;padding-right: 20px !important;border-radius:5px;')
                    .tablewrapper
                      table.sortable#fst
                        thead
                          tr
                            th Block Height
                            th.sorttable_nosort Time (GMT)
                            th Confirmations
                            th TXID
                        tbody
                          each tx in ftmtxs
                            tr
                              td(align='center', data-label='FTM Block Height') !{tx.blockNumber}
                              td(align='center', data-label='Timestamp') 
                                if (typeof tx.timeStamp != 'undefined')
                                  .date= new Date(tx.timeStamp*1000).toUTCString().replace('GMT','')
                              td(align='center', data-label='Confirmations') 
                                .label.label-success(style='background: none;') !{tx.confirmations}
                              td(align='center', data-label='TXID') 
                                a.txid(href=`https://ftmscan.com/tx/${tx.hash}`, target='_blank') !{tx.hash}
                else
                  h1(style='color:#666;', align='center') No FTM Transactions Available      
          div(style='text-align:center;margin-top:20px;')
            p
              img.res.fpulse(src='../img/clout.png', alt='CLOUT', border='0', style='height:100px !important;width:100px !important;margin:0 auto !important;')
            p 
            .bal(style='font-size:2.5em;') 
              span#totalcloutbal.format #{totalcloutbal || 0}
              small(style='font-size:16px;')  CLOUT
            p
            .bal(style='font-size:1.6em;color:#888;') $
              span#cloutusdbalance #{cloutbalance || 0}
              small(style='font-size:16px;')  USD @ $
                span#currentcloutprice #{currentcloutprice || 0}
                |  ea
            p
              p
                a.clout(href='http://'+lanip+':3000/sendclout', style='color:#FFF;text-decoration:none;outline:none;')
                  |  Send
                button.clout(type='button', id='cloutrecv', onclick='addBlur()', data-toggle='modal', data-target='#CLOUTRecv', data-backdrop='static', data-keyboard='false', style='margin-left:10px;')
                  |  Receive
              .bal(style='font-size:1.3vw;font-weight:400;text-align:center;margin-top:10px;', align='center') BITCLOUT 
                span#clouthblock
            .divider(style='background-color:#111 !important;height:2px;width:80%;margin:0 auto;', align='center')
            p
              if (typeof clouttxs != 'undefined')
                if (typeof clouttxs[0] != 'undefined')
                  .row(style='color:#eee;margin:5px !important;padding:20px;padding-right: 20px !important;border-radius:5px;')
                    .tablewrapper
                      table.sortable#fst
                        thead
                          tr
                            th TX Type
                            th TXID
                        tbody
                          each tx in clouttxs
                            tr
                              td(align='center', data-label='CLOUT TX Type') !{tx.TransactionType}
                              td(align='center', data-label='TXID') 
                                a.txid(href=`https://www.bitcloutpulse.com/explorer/transactions/${tx.TransactionIDBase58Check}`, target='_blank') !{tx.TransactionIDBase58Check}
                else
                  h1(style='color:#666;', align='center') No CLOUT Transactions Available    
      #DRecv.modal
        .modal-dialog(style='width:90% !important;margin: 50px auto !important;')
            .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
                .modal-header(style='border-bottom: none !important;')
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                    h4.modal-title Receive D
                    div(align='center')
                      img(src='../img/denarius.png', height='125px', width='125px')
                .modal-body
                  .form-horizontal
                    p(align='center')
                      h3(align='center') Denarius Address
                    .form-group
                      p
                        .addressdash(style='font-size:1.3vw;font-weight:400;border-radius:15px;padding:10px;margin:0 auto;margin-top:10px;margin-bottom:10px;', align='center')
                          span.addr(style='background-color: #1e1e1e;padding: 8px;padding-left: 15px;padding-right: 15px;border-radius:15px;') #{mainaddy}
                          button.clip(style='background-color: transparent;border: none;margin-left: 5px;', data-clipboard-text=mainaddy)
                            i.fas.fa-copy
                      if (typeof qrcode != 'undefined')
                        .qrcode(align='center')
                            button.clip(data-clipboard-text=mainaddy, style='background-color: transparent;border: none;')
                              img(src='' + qrcode, style='border-radius:10px;')
                .modal-footer(style='border-top: none !important;')
                    a.btn.btn-success(href='https://chainz.cryptoid.info/d', style='background-color: #546639;border-radius: 15px;font-size: 15px !important;', target='_blank') View on blockchain
                    button.btn.btn-default(type='button', data-dismiss='modal', onclick='removeBlur()', style='background-color: #602828;border-radius: 15px;font-size: 15px !important;') Close
      #BTCRecv.modal
        .modal-dialog(style='width:90% !important;margin: 50px auto !important;')
            .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
                .modal-header(style='border-bottom: none !important;')
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                    h4.modal-title Receive BTC
                    div(align='center')
                      img(src='../img/bitcoin.png', height='125px', width='125px')
                .modal-body
                  .form-horizontal
                    p(align='center')
                      h3(align='center') Bitcoin Address
                    .form-group
                      p
                        .addressdash(style='font-size:1.3vw;font-weight:400;border-radius:15px;padding:10px;margin:0 auto;margin-top:10px;margin-bottom:10px;', align='center')
                          span.addr(style='background-color: #1e1e1e;padding: 8px;padding-left: 15px;padding-right: 15px;border-radius:15px;') #{btcaddress}
                          button.clip(style='background-color: transparent;border: none;margin-left: 5px;', data-clipboard-text=btcaddress)
                            i.fas.fa-copy
                      if (typeof qrcode != 'undefined')
                        .qrcode(align='center')
                            button.clip(data-clipboard-text=btcaddress, style='background-color: transparent;border: none;')
                              img(src='' + btcqrcode, style='border-radius:10px;')
                .modal-footer(style='border-top: none !important;')
                    a.btn.btn-success(href='https://blockchain.info', style='background-color: #546639;border-radius: 15px;font-size: 15px !important;', target='_blank') View on blockchain
                    button.btn.btn-default(type='button', data-dismiss='modal', onclick='removeBlur()', style='background-color: #602828;border-radius: 15px;font-size: 15px !important;') Close
      #ETHRecv.modal
        .modal-dialog(style='width:90% !important;margin: 50px auto !important;')
            .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
                .modal-header(style='border-bottom: none !important;')
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                    h4.modal-title Receive ETH
                    div(align='center')
                      img(src='../img/eth.png', height='125px', width='125px')
                .modal-body
                  .form-horizontal
                    p(align='center')
                      h3(align='center') Ethereum Address
                    .form-group
                      p
                        .addressdash(style='font-size:1.3vw;font-weight:400;border-radius:15px;padding:10px;margin:0 auto;margin-top:10px;margin-bottom:10px;', align='center')
                          span.addr(style='background-color: #1e1e1e;padding: 8px;padding-left: 15px;padding-right: 15px;border-radius:15px;') #{ethaddy}
                          button.clip(style='background-color: transparent;border: none;margin-left: 5px;', data-clipboard-text=ethaddy)
                            i.fas.fa-copy
                      if (typeof qrcode != 'undefined')
                        .qrcode(align='center')
                            button.clip(data-clipboard-text=ethaddy, style='background-color: transparent;border: none;')
                              img(src='' + ethqrcode, style='border-radius:10px;')
                .modal-footer(style='border-top: none !important;')
                    a.btn.btn-success(href='https://etherscan.io', style='background-color: #546639;border-radius: 15px;font-size: 15px !important;', target='_blank') View on blockchain
                    button.btn.btn-default(type='button', data-dismiss='modal', onclick='removeBlur()', style='background-color: #602828;border-radius: 15px;font-size: 15px !important;') Close
      #USDTRecv.modal
        .modal-dialog(style='width:90% !important;margin: 50px auto !important;')
            .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
                .modal-header(style='border-bottom: none !important;')
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                    h4.modal-title Receive USDT ERC20
                    div(align='center')
                      img(src='../img/usdt.png', height='125px', width='125px')
                .modal-body
                  .form-horizontal
                    p(align='center')
                      h3(align='center') Tether USD ERC20 Address
                    .form-group
                      p
                        .addressdash(style='font-size:1.3vw;font-weight:400;border-radius:15px;padding:10px;margin:0 auto;margin-top:10px;margin-bottom:10px;', align='center')
                          span.addr(style='background-color: #1e1e1e;padding: 8px;padding-left: 15px;padding-right: 15px;border-radius:15px;') #{ethaddy}
                          button.clip(style='background-color: transparent;border: none;margin-left: 5px;', data-clipboard-text=ethaddy)
                            i.fas.fa-copy
                      if (typeof qrcode != 'undefined')
                        .qrcode(align='center')
                            button.clip(data-clipboard-text=ethaddy, style='background-color: transparent;border: none;')
                              img(src='' + ethqrcode, style='border-radius:10px;')
                .modal-footer(style='border-top: none !important;')
                    a.btn.btn-success(href='https://etherscan.io/token/0xdAC17F958D2ee523a2206206994597C13D831ec7', style='background-color: #546639;border-radius: 15px;font-size: 15px !important;', target='_blank') View on blockchain
                    button.btn.btn-default(type='button', data-dismiss='modal', onclick='removeBlur()', style='background-color: #602828;border-radius: 15px;font-size: 15px !important;') Close
      #BUSDRecv.modal
        .modal-dialog(style='width:90% !important;margin: 50px auto !important;')
            .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
                .modal-header(style='border-bottom: none !important;')
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                    h4.modal-title Receive BUSD BEP20
                    div(align='center')
                      img(src='../img/busd.png', height='125px', width='125px')
                .modal-body
                  .form-horizontal
                    p(align='center')
                      h3(align='center') Binance USD BEP20 Address
                    .form-group
                      p
                        .addressdash(style='font-size:1.3vw;font-weight:400;border-radius:15px;padding:10px;margin:0 auto;margin-top:10px;margin-bottom:10px;', align='center')
                          span.addr(style='background-color: #1e1e1e;padding: 8px;padding-left: 15px;padding-right: 15px;border-radius:15px;') #{bscaddy}
                          button.clip(style='background-color: transparent;border: none;margin-left: 5px;', data-clipboard-text=bscaddy)
                            i.fas.fa-copy
                      if (typeof qrcode != 'undefined')
                        .qrcode(align='center')
                            button.clip(data-clipboard-text=bscaddy, style='background-color: transparent;border: none;')
                              img(src='' + bscqrcode, style='border-radius:10px;')
                .modal-footer(style='border-top: none !important;')
                    a.btn.btn-success(href='https://bscscan.com/token/0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56', style='background-color: #546639;border-radius: 15px;font-size: 15px !important;', target='_blank') View on blockchain
                    button.btn.btn-default(type='button', data-dismiss='modal', onclick='removeBlur()', style='background-color: #602828;border-radius: 15px;font-size: 15px !important;') Close
      #FTMRecv.modal
        .modal-dialog(style='width:90% !important;margin: 50px auto !important;')
            .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
                .modal-header(style='border-bottom: none !important;')
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                    h4.modal-title Receive FTM
                    div(align='center')
                      img(src='../img/ftm.png', height='125px', width='125px')
                .modal-body
                  .form-horizontal
                    p(align='center')
                      h3(align='center') Fantom Address
                    .form-group
                      p
                        .addressdash(style='font-size:1.3vw;font-weight:400;border-radius:15px;padding:10px;margin:0 auto;margin-top:10px;margin-bottom:10px;', align='center')
                          span.addr(style='background-color: #1e1e1e;padding: 8px;padding-left: 15px;padding-right: 15px;border-radius:15px;') #{ftmaddy}
                          button.clip(style='background-color: transparent;border: none;margin-left: 5px;', data-clipboard-text=ftmaddy)
                            i.fas.fa-copy
                      if (typeof qrcode != 'undefined')
                        .qrcode(align='center')
                            button.clip(data-clipboard-text=ftmaddy, style='background-color: transparent;border: none;')
                              img(src='' + ftmqrcode, style='border-radius:10px;')
                .modal-footer(style='border-top: none !important;')
                    a.btn.btn-success(href='https://ftmscan.com', style='background-color: #546639;border-radius: 15px;font-size: 15px !important;', target='_blank') View on blockchain
                    button.btn.btn-default(type='button', data-dismiss='modal', onclick='removeBlur()', style='background-color: #602828;border-radius: 15px;font-size: 15px !important;') Close
      #CLOUTRecv.modal
        .modal-dialog(style='width:90% !important;margin: 50px auto !important;')
            .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
                .modal-header(style='border-bottom: none !important;')
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                    h4.modal-title Receive CLOUT
                    div(align='center')
                      img(src='../img/clout.png', height='125px', width='125px')
                .modal-body
                  .form-horizontal
                    p(align='center')
                      h3(align='center') BitClout Address
                    .form-group
                      p
                        .addressdash(style='font-size:1.3vw;font-weight:400;border-radius:15px;padding:10px;margin:0 auto;margin-top:10px;margin-bottom:10px;', align='center')
                          span.addr(style='background-color: #1e1e1e;padding: 8px;padding-left: 15px;padding-right: 15px;border-radius:15px;') #{cloutaddy}
                          button.clip(style='background-color: transparent;border: none;margin-left: 5px;', data-clipboard-text=cloutaddy)
                            i.fas.fa-copy
                      if (typeof qrcode != 'undefined')
                        .qrcode(align='center')
                            button.clip(data-clipboard-text=cloutaddy, style='background-color: transparent;border: none;')
                              img(src='' + cloutqrcode, style='border-radius:10px;')
                .modal-footer(style='border-top: none !important;')
                    a.btn.btn-success(href='https://explorer.bitcloutpulse.com', style='background-color: #546639;border-radius: 15px;font-size: 15px !important;', target='_blank') View on blockchain
                    button.btn.btn-default(type='button', data-dismiss='modal', onclick='removeBlur()', style='background-color: #602828;border-radius: 15px;font-size: 15px !important;') Close
      #BSCRecv.modal
        .modal-dialog(style='width:90% !important;margin: 50px auto !important;')
            .modal-content(style='color:#FFF !important;background-color:#111 !important; border-color: #444 !important;')
                .modal-header(style='border-bottom: none !important;')
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                    h4.modal-title Receive BSC
                    div(align='center')
                      img(src='../img/bsc.png', height='125px', width='125px')
                .modal-body
                  .form-horizontal
                    p(align='center')
                      h3(align='center') Binance Smart Chain Address
                    .form-group
                      p
                        .addressdash(style='font-size:1.3vw;font-weight:400;border-radius:15px;padding:10px;margin:0 auto;margin-top:10px;margin-bottom:10px;', align='center')
                          span.addr(style='background-color: #1e1e1e;padding: 8px;padding-left: 15px;padding-right: 15px;border-radius:15px;') #{bscaddy}
                          button.clip(style='background-color: transparent;border: none;margin-left: 5px;', data-clipboard-text=bscaddy)
                            i.fas.fa-copy
                      if (typeof qrcode != 'undefined')
                        .qrcode(align='center')
                            button.clip(data-clipboard-text=bscaddy, style='background-color: transparent;border: none;')
                              img(src='' + bscqrcode, style='border-radius:10px;')
                .modal-footer(style='border-top: none !important;')
                    a.btn.btn-success(href='https://bscscan.com', style='background-color: #546639;border-radius: 15px;font-size: 15px !important;', target='_blank') View on blockchain
                    button.btn.btn-default(type='button', data-dismiss='modal', onclick='removeBlur()', style='background-color: #602828;border-radius: 15px;font-size: 15px !important;') Close
      //- .divider(style='background-color:#2b2b2b !important;height:2px;width:60%;margin:0 auto;', align='center')
      //- .row(class='rowclass').animate__animated.animate__fadeIn
      //-   .col-sm-3
      //-     p(align='center')
      //-       img(src='../img/denarius.png', height='128px;', align='center')
      //- .divider(style='background-color:#2b2b2b !important;height:2px;width:60%;margin:0 auto;', align='center')
      //- .row(class='rowclass', style='margin-bottom:50px;').animate__animated.animate__fadeIn
      //-   h3(style='font-weight:light;font-size:48px;color: #393939;margin-top:0px;margin-bottom:30px;') 
      //-     i.fas.fa-microchip 
      //-     |  System Info
      //-   .col-sm-6
      //-     p LAN IP: 
      //-       span#lanip(data-value=lanip) #{lanip}
      //-     p Core Clock Speed: 
      //-       span#avg
      //-       |  GHz - CPU Load: 
      //-       span#avgload 
      //-       | %
      //-     p CPU Tempature: 
      //-       span#temp 
      //-       |  °C
      //-     p Memory Usage:  
      //-       span#memu
      //-       |  GB Used / 
      //-       span#memf
      //-       |  GB Free / 
      //-       span#memt 
      //-       |  GB Total
      //-     p Architecture: 
      //-       span #{arch}
      //-     #ram(data-value=mempp)
      //-     #cpu(data-value=cpu)
      //-   .col-sm-4
      //-     p OS Name: 
      //-       span #{osname}
      //-     p Platform: 
      //-       span #{platform}
      //-     p Release: 
      //-       span #{release}
      //-     p Kernel: 
      //-       span #{kernel}
      //-     p Hostname: 
      //-       span #{hostname}
      //-   .col-sm-2
      //-     .row
      //-       .col-xs-12(align='center')
      //-         span(style='color:#444;') RAM Usage
      //-       .col-xs-12(align='left')
      //-         .memini
      //-     .row
      //-       .col-xs-12(align='center')
      //-         span(style='color:#444;') CPU Usage
      //-       .col-xs-12(align='left')
      //-         .cpumini
      //- .row
      //-   .col-md-12
      //-     .row
      //-       .col-sm-6(align='center')
      //-         #rammy.label-center(style='width:250px;height:250px;')
      //-         span(style='color:#777;') RAM Usage
      //-       .col-sm-6(align='center')              
      //-         #cpuy.label-center(style='width:250px;height:250px;')
      //-         span(style='color:#777;') CPU Usage
    script(src='../js/lib/jquery-3.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
    script(src='https://unpkg.com/tabulator-tables@4.9.1/dist/js/tabulator.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js')
    script.
      //- new Splide( '.splide', {
      //-   type   : 'loop',
      //-   arrowPath: 'm15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z',
      //-   autoHeight: true
      //- } ).mount();
      function addBlur() {
        $('.navbar-default').addClass('blur');
        $('.balancerow').addClass('blur');
      }
      function removeBlur() {
        $('.navbar-default').removeClass('blur');
        $('.balancerow').removeClass('blur');
      }
      $('.slickk').slick({
        adaptiveHeight: true,
        infinite: true,
        dots: true,
        slidesToScroll: 1,
        arrows: false,
        fade: false,
        dots: true,
        asNavFor: '.slider-nav'
      });
       $('.slider-nav').slick({
        slidesToScroll: 1,
        asNavFor: '.slickk',
        dots: false,
        arrows: true,
        fade: false,
        infinite: true,
        focusOnSelect: true
      });
      var $jq = jQuery.noConflict();
      $jq('a[data-slide]').click(function(e) {
        e.preventDefault();
        var slideno = $jq(this).data('slide');
        $jq('.slider-nav').slick('slickGoTo', slideno - 1);
      });
      var clipboard = new ClipboardJS('.clip');
      clipboard.on('success', function(e) {
          console.info('Action:', e.action);
          console.info('Text:', e.text);
          console.info('Trigger:', e.trigger);

          e.clearSelection();
      });

      clipboard.on('error', function(e) {
          console.error('Action:', e.action);
          console.error('Trigger:', e.trigger);
      });
      //- var table = new Tabulator(".ethtable", {
      //-     layout:"fitColumns",      //fit columns to width of table
      //-     responsiveLayout:"hide",  //hide columns that dont fit on the table
      //-     tooltips:true,            //show tool tips on cells
      //-     addRowPos:"top",          //when adding a new row, add it to the top of the table
      //-     history:true,             //allow undo and redo actions on the table
      //-     pagination:"local",       //paginate the data
      //-     paginationSize:10,         //allow 7 rows per page of data
      //-     movableColumns:true,      //allow column order to be changed
      //-     resizableRows:true,       //allow row order to be changed
      //-     initialSort:[             //set the initial sort order of the data
      //-         {column:"name", dir:"asc"},
      //-     ],
      //- });
      //- socket.on('cpuspeed', function (data99) {
      //-   // console.log(data);
      //-   $('#avg').html(data99.avg);
      //- });
      socket.on('newblock', function (data) {
        //console.log('SOCKET GOT NEW BLOCK', data);
        if (!data.block[0] && !data.error) {
          var height = data.block.height;
          var hexhash = data.block.hex.toString();
          //$('#blockheight').html(height);
          //$('#blockhash').html('<a href="https://chainz.cryptoid.info/d/block.dws?'+height+'" style="color:#444;font-size:9px;font-weight:400;" target="_blank">D BLOCK HEX: '+hexhash.substring(0,33)+'...</a>'); 
          //$('#dblock').html('<span class="blockcount"><a href="https://chainz.cryptoid.info/d/block.dws?'+height+'" target="_blank">'+height+'</a></span>');
          $('#dblock').html('<a href="https://chainz.cryptoid.info/d/block.dws?'+height+'" target="_blank" style="color: rgb(93 196 41);">• '+height+'</a>'); 
        } else {
          var height = data.block[0].height;
          var hexhash = data.block[0].hex.toString();
          //$('#blockheight').html(height);
          //$('#blockhash').html('<a href="https://chainz.cryptoid.info/d/block.dws?'+height+'" style="color:#444;font-size:9px;font-weight:400;" target="_blank">D BLOCK HEX: '+hexhash.substring(0,33)+'...</a>'); 
          $('#dblock').html('<a href="https://chainz.cryptoid.info/d/block.dws?'+height+'" target="_blank" style="color: rgb(93 196 41);">• '+height+'</a>'); 
        }
      });
      socket.on('newbtcblock', function (dataz) {
        //console.log('SOCKET GOT NEW BLOCK', data);
        if (!dataz.block[0] && !dataz.error) {
          var height = dataz.block.height;
          var hexhash = dataz.block.hex.toString();
          $('#btcblock').html('<a href="https://chainz.cryptoid.info/btc/block.dws?'+height+'" target="_blank" style="color: rgb(93 196 41);">• '+height+'</a>'); 
        } else {
          var height = dataz.block[0].height;
          var hexhash = dataz.block[0].hex.toString();
          $('#btcblock').html('<a href="https://chainz.cryptoid.info/btc/block.dws?'+height+'" target="_blank" style="color: rgb(93 196 41);">• '+height+'</a>'); 
        }
      });
      socket.on('newblocketh', function (data9) {
        if (!data9.ethblock[0] && !data9.error) {
          var height = data9.ethblock;
          //var hexhash = data9.ethhash;
          //$('#blockheight').html(height);
          //$('#ethblockhash').html('<a href="https://etherscan.io/block/'+height+'" style="color:#444;font-size:9px;font-weight:400;" target="_blank">ETH BLOCK HEX: '+hexhash.substring(0,33)+'...</a>'); 
          $('#ethhblock').html('<a href="https://etherscan.io/block/'+height+'" target="_blank" style="color: rgb(93 196 41);">• '+height+'</a>');
          $('#usdtbblock').html('<a href="https://etherscan.io/block/'+height+'" target="_blank" style="color: rgb(93 196 41);">• '+height+'</a>');
        } else {
          var height = data9.ethblock[0];
          //var hexhash = data9.ethhash[0];
          //$('#blockheight').html(height);
          //$('#ethblockhash').html('<a href="https://etherscan.io/block/'+height+'" style="color:#444;font-size:9px;font-weight:400;" target="_blank">ETH BLOCK HEX: '+hexhash.substring(0,33)+'...</a>'); 
          $('#ethhblock').html('<a href="https://etherscan.io/block/'+height+'" target="_blank" style="color: rgb(93 196 41);">• '+height+'</a>');
          $('#usdtbblock').html('<a href="https://etherscan.io/block/'+height+'" target="_blank" style="color: rgb(93 196 41);">• '+height+'</a>');
        }
      });
      socket.on('newblockbsc', function (data9) {
        if (!data9.bscblock[0] && !data9.error) {
          var height = data9.bscblock;
          //var hexhash = data9.ethhash;
          //$('#blockheight').html(height);
          //$('#ethblockhash').html('<a href="https://etherscan.io/block/'+height+'" style="color:#444;font-size:9px;font-weight:400;" target="_blank">ETH BLOCK HEX: '+hexhash.substring(0,33)+'...</a>'); 
          $('#bschblock').html('<a href="https://bscscan.com/block/'+height+'" target="_blank" style="color: rgb(93 196 41);" class="animate__animated animate__pulse animate__infinite">• '+height+'</a>');
          $('#busdhblock').html('<a href="https://bscscan.com/block/'+height+'" target="_blank" style="color: rgb(93 196 41);">• '+height+'</a>');
        } else {
          var height = data9.bscblock[0];
          //var hexhash = data9.ethhash[0];
          //$('#blockheight').html(height);
          //$('#ethblockhash').html('<a href="https://etherscan.io/block/'+height+'" style="color:#444;font-size:9px;font-weight:400;" target="_blank">ETH BLOCK HEX: '+hexhash.substring(0,33)+'...</a>'); 
          $('#bschblock').html('<a href="https://bscscan.com/block/'+height+'" target="_blank" style="color: rgb(93 196 41);" class="animate__animated animate__pulse animate__infinite">• '+height+'</a>');
          $('#busdhblock').html('<a href="https://bscscan.com/block/'+height+'" target="_blank" style="color: rgb(93 196 41);">• '+height+'</a>');
        }
      });
      socket.on('newblockftm', function (data9) {
        if (!data9.ftmblock[0] && !data9.error) {
          var height = data9.ftmblock;
          //var hexhash = data9.ethhash;
          //$('#blockheight').html(height);
          //$('#ethblockhash').html('<a href="https://etherscan.io/block/'+height+'" style="color:#444;font-size:9px;font-weight:400;" target="_blank">ETH BLOCK HEX: '+hexhash.substring(0,33)+'...</a>'); 
          $('#ftmhblock').html('<a href="https://ftmscan.com/block/'+height+'" target="_blank" style="color: rgb(93 196 41);" class="animate__animated animate__pulse animate__infinite">• '+height+'</a>');
        } else {
          var height = data9.ftmblock[0];
          //var hexhash = data9.ethhash[0];
          //$('#blockheight').html(height);
          //$('#ethblockhash').html('<a href="https://etherscan.io/block/'+height+'" style="color:#444;font-size:9px;font-weight:400;" target="_blank">ETH BLOCK HEX: '+hexhash.substring(0,33)+'...</a>'); 
          $('#ftmhblock').html('<a href="https://ftmscan.com/block/'+height+'" target="_blank" style="color: rgb(93 196 41);" class="animate__animated animate__pulse animate__infinite">• '+height+'</a>');
        }
      });
      //- socket.on('temp', function (data3) {
      //-   // console.log(data);
      //-   $('#temp').html(data3.temp);
      //- });
      //- let progcpu = [];
      //- progcpu.push(0);
      //- socket.on('cpuload', function (data1) {
      //-   ldbar1 = new ldBar("#cpuy", {
      //-                 "stroke-width": 8,
      //-                 "preset": "circle",
      //-                 "pattern-size": "32",
      //-                 "stroke": "../img/maze.svg",
      //-                 "stroke-linecap": "round"
      //-                 });
      //-   ldbar1.set(data1.cpu.toFixed(2) * 100, true);

      //-   var progresscpu2 = data1.cpu.toFixed(2) * 100;
      //-   var progresscpu = progresscpu2.toFixed(2);

      //-   progcpu.push(progresscpu);

      //-   $('.cpumini').sparkline(progcpu, {
      //-             type: 'line',
      //-             width: '93%',
      //-             height: '20px',
      //-             disableTooltips: 'true',
      //-             highlightLineColor: '#ffff00',
      //-             highlightSpotColor: '#ffff00',
      //-             disableInteraction: 'true',
      //-             spotColor: '#ffff00',
      //-             lineColor: '#ffff00',
      //-             fillColor: '#303030'});

      //-   $('#avgload').html(progresscpu);

      //- });
      //- let progarray = [];
      //- progarray.push(0);
      //- socket.on('memory', function (data2) {   
      //-   ldbar = new ldBar("#rammy", {
      //-                 "stroke-width": 8,
      //-                 "preset": "circle",
      //-                 "pattern-size": "32",
      //-                 "stroke": "../img/maze.svg",
      //-                 "stroke-linecap": "round"
      //-                 });
      //-   ldbar.set(data2.mempp.toFixed(2) * 100, true);

      //-   var progressmem2 = data2.mempp.toFixed(2) * 100;
      //-   var progressmem = progressmem2.toFixed(2);

      //-   progarray.push(progressmem);

      //-   $('.memini').sparkline(progarray, {
      //-             type: 'line',
      //-             width: '93%',
      //-             height: '20px',
      //-             lineColor: '#ffff00',
      //-             highlightLineColor: '#ffff00',
      //-             highlightSpotColor: '#ffff00',
      //-             disableInteraction: 'true',
      //-             spotColor: '#ffff00',
      //-             fillColor: '#303030'});
      //-   $('#memu').html(data2.memu);
      //-   $('#memt').html(data2.memt);
      //-   $('#memf').html(data2.memf);
      //- });
      socket.on('newethbal', function (data69) {
        if (!data69.ethbal[0] && !data69.error) {
          var bal = data69.ethbal;
          //- if (bal != 'undefined') {
          //-   bal = parseFloat(bal.toFixed(6));
          //- }
          $('#totalethbal').html(bal);
          //$('#htotalethbal').html(bal + '<img class="res" src="../img/eth.png" alt="ETH" border="0" style="height:24px !important;width: 24px !important;margin:-15px 0px -12px !important;" /><span style="color:#888;">ETH</span>');
          var updatedethusd = bal * $('#currentethprice').text();
          $('#ethusdbalance').html(updatedethusd.toFixed(3));
          document.querySelectorAll(".format").forEach((e) => {
            let txt = e.innerHTML.split(".")
            if (typeof txt[1] != 'undefined') {
              e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
            }
          });
        } else {
          var bal = data69.ethbal[0];
          //- if (bal != 'undefined') {
          //-   bal = parseFloat(bal.toFixed(6));
          //- }
          $('#totalethbal').html(bal); 
          //$('#htotalethbal').html(bal + '<img class="res" src="../img/eth.png" alt="ETH" border="0" style="height:24px !important;width: 24px !important;margin:-15px 0px -12px !important;" /><span style="color:#888;">ETH</span>');
          var updatedethusd = bal * $('#currentethprice').text();
          $('#ethusdbalance').html(updatedethusd.toFixed(3));
          document.querySelectorAll(".format").forEach((e) => {
            let txt = e.innerHTML.split(".")
            if (typeof txt[1] != 'undefined') {
              e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
            }
          });
        }
      });
      socket.on('newbscbal', function (data69) {
        if (!data69.bscbal[0] && !data69.error) {
          var bal = data69.bscbal;
          //- if (bal != 'undefined') {
          //-   bal = parseFloat(bal.toFixed(6));
          //- }
          $('#totalbscbal').html(bal);
          var updatedbscusd = bal * $('#currentbscprice').text();
          $('#bscusdbalance').html(updatedbscusd.toFixed(3));
          document.querySelectorAll(".format").forEach((e) => {
            let txt = e.innerHTML.split(".")
            if (typeof txt[1] != 'undefined') {
              e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
            }
          });
        } else {
          var bal = data69.bscbal[0];
          //- if (bal != 'undefined') {
          //-   bal = parseFloat(bal.toFixed(6));
          //- }
          $('#totalbscbal').html(bal); 
          //$('#htotalethbal').html(bal + '<img class="res" src="../img/eth.png" alt="ETH" border="0" style="height:24px !important;width: 24px !important;margin:-15px 0px -12px !important;" /><span style="color:#888;">ETH</span>');
          var updatedbscusd = bal * $('#currentbscprice').text();
          $('#bscusdbalance').html(updatedbscusd.toFixed(3));
          document.querySelectorAll(".format").forEach((e) => {
            let txt = e.innerHTML.split(".")
            if (typeof txt[1] != 'undefined') {
              e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
            }
          });
        }
      });
      socket.on('newftmbal', function (data69) {
        if (!data69.ftmbal[0] && !data69.error) {
          var bal = data69.ftmbal;
          //- if (bal != 'undefined') {
          //-   bal = parseFloat(bal.toFixed(6));
          //- }
          $('#totalftmbal').html(bal);
          var updatedftmusd = bal * $('#currentftmprice').text();
          $('#ftmusdbalance').html(updatedftmusd.toFixed(3));
          document.querySelectorAll(".format").forEach((e) => {
            let txt = e.innerHTML.split(".")
            if (typeof txt[1] != 'undefined') {
              e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
            }
          });
        } else {
          var bal = data69.ftmbal[0];
          //- if (bal != 'undefined') {
          //-   bal = parseFloat(bal.toFixed(6));
          //- }
          $('#totalftmbal').html(bal); 
          //$('#htotalethbal').html(bal + '<img class="res" src="../img/eth.png" alt="ETH" border="0" style="height:24px !important;width: 24px !important;margin:-15px 0px -12px !important;" /><span style="color:#888;">ETH</span>');
          var updatedftmusd = bal * $('#currentftmprice').text();
          $('#ftmusdbalance').html(updatedftmusd.toFixed(3));
          document.querySelectorAll(".format").forEach((e) => {
            let txt = e.innerHTML.split(".")
            if (typeof txt[1] != 'undefined') {
              e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
            }
          });
        }
      });
      socket.on('newusdtbal', function (data22) {
        if (!data22.usdtbal[0] && !data22.error) {
          var bal = data22.usdtbal;

          $('#totalusdtbal').html(bal);
          var updatedusd = bal * $('#currentusdtprice').text();
          $('#usdtusdbalance').html(updatedusd.toFixed(3));
          document.querySelectorAll(".format").forEach((e) => {
            let txt = e.innerHTML.split(".")
            if (typeof txt[1] != 'undefined') {
              e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
            }
          });
        } else {
          var bal = data22.usdtbal[0];
          $('#totalusdtbal').html(bal);
          var updatedusd = bal * $('#currentusdtprice').text();
          $('#usdtusdbalance').html(updatedusd.toFixed(3));
          document.querySelectorAll(".format").forEach((e) => {
            let txt = e.innerHTML.split(".")
            if (typeof txt[1] != 'undefined') {
              e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
            }
          });
        }
      });
      socket.on('newbusdbal', function (data22) {
        if (!data22.busdbal[0] && !data22.error) {
          var bal = data22.busdbal;

          $('#totalbusdbal').html(bal);
          var updatedusd = bal * $('#currentbusdprice').text();
          $('#busdusdbalance').html(updatedusd.toFixed(3));
          document.querySelectorAll(".format").forEach((e) => {
            let txt = e.innerHTML.split(".")
            if (typeof txt[1] != 'undefined') {
              e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
            }
          });
        } else {
          var bal = data22.busdbal[0];
          $('#totalbusdbal').html(bal);
          var updatedusd = bal * $('#currentbusdprice').text();
          $('#busdusdbalance').html(updatedusd.toFixed(3));
          document.querySelectorAll(".format").forEach((e) => {
            let txt = e.innerHTML.split(".")
            if (typeof txt[1] != 'undefined') {
              e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
            }
          });
        }
      });
      socket.on('newcloutbal', function (data69) {
        if (!data69.cloutbal[0] && !data69.error) {
          var bal = data69.cloutbal;
          //- if (bal != 'undefined') {
          //-   bal = parseFloat(bal.toFixed(6));
          //- }
          $('#totalcloutbal').html(bal);
          var updatedcloutusd = bal * $('#currentcloutprice').text();
          $('#cloutusdbalance').html(updatedcloutusd.toFixed(3));
          document.querySelectorAll(".format").forEach((e) => {
            let txt = e.innerHTML.split(".")
            if (typeof txt[1] != 'undefined') {
              e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
            }
          });
        } else {
          var bal = data69.cloutbal[0];
          //- if (bal != 'undefined') {
          //-   bal = parseFloat(bal.toFixed(6));
          //- }
          $('#totalcloutbal').html(bal); 
          //$('#htotalethbal').html(bal + '<img class="res" src="../img/eth.png" alt="ETH" border="0" style="height:24px !important;width: 24px !important;margin:-15px 0px -12px !important;" /><span style="color:#888;">ETH</span>');
          var updatedcloutusd = bal * $('#currentcloutprice').text();
          $('#cloutusdbalance').html(updatedcloutusd.toFixed(3));
          document.querySelectorAll(".format").forEach((e) => {
            let txt = e.innerHTML.split(".")
            if (typeof txt[1] != 'undefined') {
              e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
            }
          });
        }
      });
      socket.on('newdbal', function (data28) {
        if (!data28.dbal[0] && !data28.error) {
          var bal = data28.dbal;
          //- if (bal != 'undefined') {
          //-   bal = parseFloat(bal.toFixed(8));
          //- }
          $('#totalbal').html(bal);
          //$('#htotalbal').html(bal + '<img class="res" src="../img/denarius.png" alt="D" border="0" style="height:24px !important;width: 24px !important;margin:-15px 5px -12px !important;" /><span style="color:#888;">D</span>');
          var updateddusd = bal * $('#currentprice').text();
          $('#usdbalance').html(updateddusd.toFixed(3));
          document.querySelectorAll(".format").forEach((e) => {
            let txt = e.innerHTML.split(".")
            if (typeof txt[1] != 'undefined') {
              e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
            }
          });
        } else {
          var bal = data28.dbal[0];
          //- if (bal != 'undefined') {
          //-   bal = parseFloat(bal.toFixed(8));
          //- }
          $('#totalbal').html(bal);
          //$('#htotalbal').html(bal + '<img class="res" src="../img/denarius.png" alt="D" border="0" style="height:24px !important;width: 24px !important;margin:-15px 5px -12px !important;" /><span style="color:#888;">D</span>');
          var updateddusd = bal * $('#currentprice').text();
          $('#usdbalance').html(updateddusd.toFixed(3));
          document.querySelectorAll(".format").forEach((e) => {
            let txt = e.innerHTML.split(".")
            if (typeof txt[1] != 'undefined') {
              e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
            }
          });
        }
      });
      socket.on('newbtcbal', function (data28) {
        if (!data28.btcbal[0] && !data28.error) {
          var bal = data28.btcbal;
          //- if (bal != 'undefined') {
          //-   bal = parseFloat(bal.toFixed(8));
          //- }
          $('#totalbtcbal').html(bal);
          //$('#htotalbtcbal').html(bal + '<img class="res" src="../img/bitcoin.png" alt="BTC" border="0" style="height:24px !important;width: 24px !important;margin:-15px 5px -12px !important;" /><span style="color:#888;">D</span>');
          var updateddusd = bal * $('#currentbtcprice').text();
          $('#usdbtcbalance').html(updateddusd.toFixed(3));
          document.querySelectorAll(".format").forEach((e) => {
            let txt = e.innerHTML.split(".")
            if (typeof txt[1] != 'undefined') {
              e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
            }
          });
        } else {
          var bal = data28.btcbal[0];
          //- if (bal != 'undefined') {
          //-   bal = parseFloat(bal.toFixed(8));
          //- }
          $('#totalbtcbal').html(bal);
          //$('#htotalbtcbal').html(bal + '<img class="res" src="../img/bitcoin.png" alt="BTC" border="0" style="height:24px !important;width: 24px !important;margin:-15px 5px -12px !important;" /><span style="color:#888;">D</span>');
          var updateddusd = bal * $('#currentbtcprice').text();
          $('#usdbtcbalance').html(updateddusd.toFixed(3));
          document.querySelectorAll(".format").forEach((e) => {
            let txt = e.innerHTML.split(".")
            if (typeof txt[1] != 'undefined') {
              e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
            }
          });
        }
      });
    script.
      var tabs = $('.tabs');
      var selector = $('.tabs').find('a').length;
      //var selector = $(".tabs").find(".selector");
      var activeItem = tabs.find('.active');
      var activeWidth = activeItem.innerWidth();
      $('#tab2').hide();
      $('#tab3').hide();
      $('#tab4').hide();
      $(".selector").css({
        "left": activeItem.position.left + "px", 
        "width": activeWidth + "px"
      });

      $(".tabs").on("click","a",function(e){
        e.preventDefault();
        $('.tabs a').removeClass("active");
        $(this).addClass('active');
        var activeWidth = $(this).innerWidth();
        var itemPos = $(this).position();
        //- $('.selectord').toggle();
        //- $('.selectorari').toggle();
        //- $('.selectoreth').toggle();
        $(".selector").css({
          "left":itemPos.left + "px", 
          "width": activeWidth + "px"
        });
      });
      $(".tab1").on("click", function(){
        $("#tab2").addClass('hide');
        $("#tab3").addClass('hide');
        $("#tab4").addClass('hide');
        $('#tab2').fadeOut();
        $('#tab3').fadeOut();
        $("#tab4").fadeOut();
        $("#tab1").fadeIn(1000);
      });

      $(".tab2").on("click", function(){
        $("#tab4").removeClass('hide');
        $("#tab1").fadeOut();
        $("#tab2").fadeOut();
        $("#tab3").fadeOut();
        $('#tab4').fadeIn(1000);
      });

      $(".tab3").on("click", function(){
        $("#tab2").removeClass('hide');
        $("#tab1").fadeOut();
        $("#tab3").fadeOut();
        $("#tab4").fadeOut();
        $('#tab2').fadeIn(1000);
      });

      $(".tab4").on("click", function(){
        $("#tab3").removeClass('hide');
        $("#tab1").fadeOut();
        $("#tab2").fadeOut();
        $("#tab4").fadeOut();
        $('#tab3').fadeIn(1000);
      });