extends ../layoutsimple

block content
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js') 
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
  style.
    .dashloader {
      display: none;
    }
  script.
    socket.on('cpuspeed', function (data99) {
      // console.log(data);
      $('#avg').html(data99.avg);
    });
    socket.on('newblock', function (data) {
      //console.log('SOCKET GOT NEW BLOCK', data);
      if (!data.block[0] && !data.error) {
        var height = data.block.height;
        var hexhash = data.block.hex.toString();
        //$('#blockheight').html(height);
        $('#blockhash').html('<a href="https://chainz.cryptoid.info/d/block.dws?'+height+'" style="color:#444;font-size:9px;font-weight:400;" target="_blank">D BLOCK HEX: '+hexhash.substring(0,33)+'...</a>'); 
        $('#link').html('<span class="blockcount"><a href="https://chainz.cryptoid.info/d/block.dws?'+height+'" target="_blank">'+height+'</a></span>'); 
      } else {
        var height = data.block[0].height;
        var hexhash = data.block[0].hex.toString();
        //$('#blockheight').html(height);
        $('#blockhash').html('<a href="https://chainz.cryptoid.info/d/block.dws?'+height+'" style="color:#444;font-size:9px;font-weight:400;" target="_blank">D BLOCK HEX: '+hexhash.substring(0,33)+'...</a>'); 
        $('#link').html('<span class="blockcount"><a href="https://chainz.cryptoid.info/d/block.dws?'+height+'" target="_blank">'+height+'</a>'); 
      }
    });
    socket.on('temp', function (data3) {
      // console.log(data);
      $('#temp').html(data3.temp);
    });
    //- socket.on('usdinfo', function (data) {
    //-   $('#totalbal').html(data.dbalance);
    //-   $('#usdbalance').html(data.usdbalance);
    //-   $('#currentprice').html(data.currentprice);
    //- });
    //- socket.on('ethinfo', function (data) {
    //-   $('#totalethbal').html(data.ethbalance);
    //-   $('#ethusdbalance').html(data.ethusdbalance);
    //-   $('#currentethprice').html(data.currentprice);
    //- });
    //- socket.on('ariinfo', function (data) {
    //-   $('#totalaribal').html(data.aribalance);
    //-   $('#ariusdbalance').html(data.ariusdbalance);
    //-   $('#currentariprice').html(data.currentprice);
    //- });
    let progcpu = [];
    progcpu.push(0);
    socket.on('cpuload', function (data1) {
      ldbar1 = new ldBar("#cpuy", {
                    "stroke-width": 8,
                    "preset": "circle",
                    "pattern-size": "32",
                    "stroke": "../img/maze.svg",
                    "stroke-linecap": "round"
                    });
      ldbar1.set(data1.cpu.toFixed(2) * 100, true);

      var progresscpu2 = data1.cpu.toFixed(2) * 100;
      var progresscpu = progresscpu2.toFixed(2);

      progcpu.push(progresscpu);

      $('.cpumini').sparkline(progcpu, {
                type: 'line',
                width: '93%',
                height: '20px',
                disableTooltips: 'true',
                highlightLineColor: '#ffff00',
                highlightSpotColor: '#ffff00',
                disableInteraction: 'true',
                spotColor: '#ffff00',
                lineColor: '#ffff00',
                fillColor: '#303030'});

      $('#avgload').html(progresscpu);

    });
    let progarray = [];
    progarray.push(0);
    socket.on('memory', function (data2) {   
      ldbar = new ldBar("#rammy", {
                    "stroke-width": 8,
                    "preset": "circle",
                    "pattern-size": "32",
                    "stroke": "../img/maze.svg",
                    "stroke-linecap": "round"
                    });
      ldbar.set(data2.mempp.toFixed(2) * 100, true);

      var progressmem2 = data2.mempp.toFixed(2) * 100;
      var progressmem = progressmem2.toFixed(2);

      progarray.push(progressmem);

      $('.memini').sparkline(progarray, {
                type: 'line',
                width: '93%',
                height: '20px',
                lineColor: '#ffff00',
                highlightLineColor: '#ffff00',
                highlightSpotColor: '#ffff00',
                disableInteraction: 'true',
                spotColor: '#ffff00',
                fillColor: '#303030'});
      $('#memu').html(data2.memu);
      $('#memt').html(data2.memt);
      $('#memf').html(data2.memf);
    });
    socket.on('newblocketh', function (data9) {
      if (!data9.ethblock[0] && !data9.error) {
        var height = data9.ethblock;
        var hexhash = data9.ethhash;
        //$('#blockheight').html(height);
        $('#ethblockhash').html('<a href="https://etherscan.io/block/'+height+'" style="color:#444;font-size:9px;font-weight:400;" target="_blank">ETH BLOCK HEX: '+hexhash.substring(0,33)+'...</a>'); 
        $('#ethlink').html('<span class="blockcount"><a href="https://etherscan.io/block/'+height+'" target="_blank">'+height+'</a></span>'); 
      } else {
        var height = data9.ethblock[0];
        var hexhash = data9.ethhash[0];
        //$('#blockheight').html(height);
        $('#ethblockhash').html('<a href="https://etherscan.io/block/'+height+'" style="color:#444;font-size:9px;font-weight:400;" target="_blank">ETH BLOCK HEX: '+hexhash.substring(0,33)+'...</a>'); 
        $('#ethlink').html('<span class="blockcount"><a href="https://etherscan.io/block/'+height+'" target="_blank">'+height+'</a>'); 
      }
    });
    socket.on('newethbal', function (data69) {
      if (!data69.ethbal[0] && !data69.error) {
        var bal = data69.ethbal;
        $('#totalethbal').html(bal);
        $('#htotalethbal').html(bal + '<img class="res" src="../img/eth.png" alt="ETH" border="0" style="height:24px !important;width: 24px !important;margin:-15px 0px -12px !important;" /><span style="color:#888;">ETH</span>');
        var updatedethusd = bal * $('#currentethprice').text();
        $('#ethusdbalance').html(updatedethusd.toFixed(3));
        document.querySelectorAll(".format").forEach((e) => {
          let txt = e.innerHTML.split(".")
          if (typeof txt[1] != 'undefined') {
            e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
          }
        });
      } else {
        var bal = data69.ethbal[0];
        $('#totalethbal').html(bal); 
        $('#htotalethbal').html(bal + '<img class="res" src="../img/eth.png" alt="ETH" border="0" style="height:24px !important;width: 24px !important;margin:-15px 0px -12px !important;" /><span style="color:#888;">ETH</span>');
        var updatedethusd = bal * $('#currentethprice').text();
        $('#ethusdbalance').html(updatedethusd.toFixed(3));
        document.querySelectorAll(".format").forEach((e) => {
          let txt = e.innerHTML.split(".")
          if (typeof txt[1] != 'undefined') {
            e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
          }
        });
      }
    });
    socket.on('newaribal', function (data22) {
      if (!data22.aribal[0] && !data22.error) {
        var bal = data22.aribal;
        $('#totalaribal').html(bal);
        $('#htotalaribal').html(bal + '<img class="res" src="../img/ari.png" alt="ARI" border="0" style="height:24px !important;width: 24px !important;margin:-15px 5px -12px !important;" /><span style="color:#888;">ARI</span>');
        var updatedusd = bal * $('#currentariprice').text();
        $('#ariusdbalance').html(updatedusd.toFixed(3));
        document.querySelectorAll(".format").forEach((e) => {
          let txt = e.innerHTML.split(".")
          if (typeof txt[1] != 'undefined') {
            e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
          }
        });
      } else {
        var bal = data22.aribal[0];
        $('#totalaribal').html(bal);
        $('#htotalaribal').html(bal + '<img class="res" src="../img/ari.png" alt="ARI" border="0" style="height:24px !important;width: 24px !important;margin:-15px 5px -12px !important;" /><span style="color:#888;">ARI</span>');
        var updatedusd = bal * $('#currentariprice').text();
        $('#ariusdbalance').html(updatedusd.toFixed(3));
        document.querySelectorAll(".format").forEach((e) => {
          let txt = e.innerHTML.split(".")
          if (typeof txt[1] != 'undefined') {
            e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
          }
        });
      }
    });
    socket.on('newdbal', function (data28) {
      if (!data28.dbal[0] && !data28.error) {
        var bal = data28.dbal;
        if (bal != 'undefined') {
          bal = parseFloat(bal.toFixed(8));
        }
        $('#totalbal').html(bal);
        $('#htotalbal').html(bal + '<img class="res" src="../img/denarius.png" alt="D" border="0" style="height:24px !important;width: 24px !important;margin:-15px 5px -12px !important;" /><span style="color:#888;">D</span>');
        var updateddusd = bal * $('#currentprice').text();
        $('#usdbalance').html(updateddusd.toFixed(3));
        document.querySelectorAll(".format").forEach((e) => {
          let txt = e.innerHTML.split(".")
          if (typeof txt[1] != 'undefined') {
            e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
          }
        });
      } else {
        var bal = data28.dbal[0];
        if (bal != 'undefined') {
          bal = parseFloat(bal.toFixed(8));
        }
        $('#totalbal').html(bal);
        $('#htotalbal').html(bal + '<img class="res" src="../img/denarius.png" alt="D" border="0" style="height:24px !important;width: 24px !important;margin:-15px 5px -12px !important;" /><span style="color:#888;">D</span>');
        var updateddusd = bal * $('#currentprice').text();
        $('#usdbalance').html(updateddusd.toFixed(3));
        document.querySelectorAll(".format").forEach((e) => {
          let txt = e.innerHTML.split(".")
          if (typeof txt[1] != 'undefined') {
            e.innerHTML = txt[0] + ".<small>" + txt[1] + "</small>"
          }
        });
      }
    });
  .maincontent(style='border: none !important;')
    .container(style='width:90%')
      //- .div(style='margin-top:25px;')
      //-   form.form-horizontal(action='/search', method='POST', id='explorer')
      //-     input(type='hidden', name='_csrf', value=_csrf)
      //-     input.form-control.blackinput4(type='text', align='center', name='explorersearch', id='explorersearch', placeholder='Search Kronos for Denarius Block # or Transaction Hash or D Address')
      .row.mobilerow(style='margin-top:9px;')
        .col-md-4(style='margin-top:35px;')
          p(align='center')
            span.animate__animated.animate__fadeIn#link
            br
            span.animate__animated.animate__fadeIn#blockhash(style='margin-bottom:10px;')
            br
        .col-md-4.mobilerow2(align='center')
          h3(align='center', style='margin:35px;').animate__animated.animate__bounce
            | Everything is 
            span(style='color: #42B905;') Great!
            br
            span.mobilerow2(style='font-size:12px;color:#999;') KRONOS IS CONNECTED
        .col-md-4(style='margin-top:35px;')
          p(align='center')
            span.animate__animated.animate__fadeIn#ethlink
            br
            span.animate__animated.animate__fadeIn#ethblockhash(style='margin-bottom:10px;')
            br
      .row(class='rowclass balancerow').animate__animated.animate__fadeIn
        .col-sm-4(align='center')
          p
            img.res(src='../img/denarius.png', alt='D', border='0', style='height:75px !important;width: 75px !important;margin:0px 0px 0px !important;')
          p 
          .bal(style='font-size:2.5em;') 
            span#totalbal.format #{totalbal || 0}
            small(style='font-size:16px;')  D
          p
          .bal(style='font-size:1.6em;color:#888;') $
            span#usdbalance #{usdbalance || 0}
            small(style='font-size:16px;')  USD @ $
              span#currentprice #{currentprice || 0}
              |  ea
        .col-sm-4(align='center')
          p
            img.res(src='../img/eth.png', alt='ETH', border='0', style='height:75px !important;width:75px !important;margin:0px 0px 0px !important;')
          p 
          .bal(style='font-size:2.5em;') 
            span#totalethbal.format #{totalethbal || 0}
            small(style='font-size:16px;')  ETH
          p
          .bal(style='font-size:1.6em;color:#888;') $
            span#ethusdbalance #{ethbalance || 0}
            small(style='font-size:16px;')  USD @ $
              span#currentethprice #{currentethprice || 0}
              |  ea
        .col-sm-4(align='center')
          p
            img.res(src='../img/ari.png', alt='ARI', border='0', style='height:75px !important;width:75px !important;margin:0px 0px 0px !important;')
          p 
          .bal(style='font-size:2.5em;') 
            span#totalaribal.format #{totalaribal || 0}
            small(style='font-size:16px;')  ARI
          p
          .bal(style='font-size:1.6em;color:#888;') $
            span#ariusdbalance #{aribalance || 0}
            small(style='font-size:16px;')  USD @ $
              span#currentariprice #{currentariprice || 0}
              |  ea
      .spacer(style='background-color:#222 !important;height:15px;width:60%;margin:0 auto;', align='center')
      .row(class='rowclass').animate__animated.animate__fadeIn
        .row
          .col-md-6
            if (typeof qrcode != 'undefined')
              .qrcode(align='center')
                  a(href='#' + mainaddy)
                    img(src='' + qrcode, style='border-radius:10px;')
            .bal(style='font-size:1.3vw;font-weight:400;text-align:center;margin-top:5vh;', align='center') Denarius Address
              p.addressdash(style='background-color:#111;border-radius:15px;padding:10px;width:85%;margin:0 auto;margin-top:10px;') #{mainaddy}
          .col-md-6
            if (typeof qrcode != 'undefined')
              .qrcode(align='center')
                  a(href='#' + ethaddy)
                    img(src='' + ethqrcode, style='border-radius:10px;')
            .bal(style='font-size:1.3vw;font-weight:400;text-align:center;margin-top:5vh;', align='center') ETH & ARI Address
              p.addressdash(style='background-color:#111;border-radius:15px;padding:10px;width:85%;margin:0 auto;margin-top:10px;') #{ethaddy}
      .wrapper
        nav.tabs
          .selector
          a.tab1.active(href='#')
            img.res(src='../img/denarius.png', alt='D', border='0', style='height:32px !important;width: 32px !important;margin:0px 0px 0px !important;')
            |  D Transaction History
          a.tab2(href='#')
            img.res(src='../img/eth.png', alt='ETH', border='0', style='height:32px !important;width: 32px !important;margin:0px 0px 0px !important;')
            |  ETH Transaction History
          a.tab3(href='#')
            img.res(src='../img/ari.png', alt='ARI', border='0', style='height:32px !important;width: 32px !important;margin:0px 0px 0px !important;')
            |  ARI Transaction History
      .row(class='rowclass', style='padding-right: 20px !important;').animate__animated.animate__fadeIn#tab1
        h3(style='font-size:48px;color: #393939;margin-top:0px;', align='center') 
              i.fas.fa-history  
              |  Denarius Transaction History
        if (typeof dtxs != 'undefined')
          if (typeof dtxs[0] != 'undefined')
            .row(style='color:#eee;margin:5px !important;padding:20px;padding-right: 20px !important;border-radius:5px;') 
              table.sortable#fst
                thead
                  tr
                    th Block Height
                    th TXID
                tbody
                  each tx in dtxs
                    tr
                      td(align='center', data-label='Block Height') 
                        a.txid(href='https://chainz.cryptoid.info/d/tx.dws?'+tx.height, target='_blank') #{tx.height}
                      td(align='center', data-label='TXID') 
                        a.txid(href='https://chainz.cryptoid.info/d/tx.dws?'+tx.tx_hash, target='_blank') #{tx.tx_hash}
          else
            h1(style='color:#666;', align='center') No Transactions Available
        else
          h1(style='color:#666;', align='center') No Transactions Available
      .row(class='rowclass', style='padding-right: 20px !important;').animate__animated.animate__fadeIn#tab3
        h3(style='font-size:48px;color: #393939;margin-top:0px;', align='center') 
              i.fas.fa-history  
              |  Denarii Transaction History
        if (typeof erctxs != 'undefined')
          if (typeof erctxs[0] != 'undefined')
            .row(style='color:#eee;margin:5px !important;padding:20px;padding-right: 20px !important;border-radius:5px;')
              table.sortable#fst
                thead
                  tr
                    th Block Height
                    th.sorttable_nosort Time (GMT)
                    th Confirmations
                    th TXID
                tbody
                  each tx in erctxs
                    tr
                      td(align='center') !{tx.blockNumber}
                      td(align='center') 
                        if (typeof tx.timeStamp != 'undefined')
                          .date= new Date(tx.timeStamp*1000).toUTCString().replace('GMT','')
                      td(align='center') 
                        .label.label-success(style='background: none;') !{tx.confirmations}
                      td(align='center') 
                        a.txid(href=`https://etherscan.io/tx/${tx.hash}`, target='_blank') !{tx.hash}
          else
            h1(style='color:#666;', align='center') No ARI Transactions Available
      .row(class='rowclass', style='padding-right: 20px !important;').animate__animated.animate__fadeIn#tab2
        h3(style='font-size:48px;color: #393939;margin-top:0px;', align='center') 
              i.fas.fa-history  
              |  Ethereum Transaction History
        if (typeof ethtxs != 'undefined')
          if (typeof ethtxs[0] != 'undefined')
            .row(style='color:#eee;margin:5px !important;padding:20px;padding-right: 20px !important;border-radius:5px;')
              table.sortable#fst
                thead
                  tr
                    th Block Height
                    th.sorttable_nosort Time (GMT)
                    th Confirmations
                    th TXID
                tbody
                  each tx in ethtxs
                    tr
                      td(align='center') !{tx.blockNumber}
                      td(align='center') 
                        if (typeof tx.timeStamp != 'undefined')
                          .date= new Date(tx.timeStamp*1000).toUTCString().replace('GMT','')
                      td(align='center') 
                        .label.label-success(style='background: none;') !{tx.confirmations}
                      td(align='center') 
                        a.txid(href=`https://etherscan.io/tx/${tx.hash}`, target='_blank') !{tx.hash}
          else
            h1(style='color:#666;', align='center') No ETH Transactions Available
      //- .divider(style='background-color:#2b2b2b !important;height:2px;width:60%;margin:0 auto;', align='center')
      //- .row(class='rowclass').animate__animated.animate__fadeIn
      //-   .col-sm-3
      //-     p(align='center')
      //-       img(src='../img/denarius.png', height='128px;', align='center')
      .divider(style='background-color:#2b2b2b !important;height:2px;width:60%;margin:0 auto;', align='center')
      .row(class='rowclass', style='margin-bottom:50px;').animate__animated.animate__fadeIn
        h3(style='font-weight:light;font-size:48px;color: #393939;margin-top:0px;margin-bottom:30px;') 
          i.fas.fa-microchip 
          |  System Info
        .col-sm-6
          p LAN IP: 
            span#lanip(data-value=lanip) #{lanip}
          p Core Clock Speed: 
            span#avg
            |  GHz - CPU Load: 
            span#avgload 
            | %
          p CPU Tempature: 
            span#temp 
            |  °C
          p Memory Usage:  
            span#memu
            |  GB Used / 
            span#memf
            |  GB Free / 
            span#memt 
            |  GB Total
          p Architecture: 
            span #{arch}
          #ram(data-value=mempp)
          #cpu(data-value=cpu)
        .col-sm-4
          p OS Name: 
            span #{osname}
          p Platform: 
            span #{platform}
          p Release: 
            span #{release}
          p Kernel: 
            span #{kernel}
          p Hostname: 
            span #{hostname}
        .col-sm-2
          .row
            .col-xs-12(align='center')
              span(style='color:#444;') RAM Usage
            .col-xs-12(align='left')
              .memini
          .row
            .col-xs-12(align='center')
              span(style='color:#444;') CPU Usage
            .col-xs-12(align='left')
              .cpumini
      .row
        .col-md-12
          .row
            .col-sm-6(align='center')
              #rammy.label-center(style='width:250px;height:250px;')
              span(style='color:#777;') RAM Usage
            .col-sm-6(align='center')              
              #cpuy.label-center(style='width:250px;height:250px;')
              span(style='color:#777;') CPU Usage
    script.
      var tabs = $('.tabs');
      var selector = $('.tabs').find('a').length;
      //var selector = $(".tabs").find(".selector");
      var activeItem = tabs.find('.active');
      var activeWidth = activeItem.innerWidth();
      $('#tab2').hide();
      $('#tab3').hide();
      $(".selector").css({
        "left": activeItem.position.left + "px", 
        "width": activeWidth + "px"
      });

      $(".tabs").on("click","a",function(e){
        e.preventDefault();
        $('.tabs a').removeClass("active");
        $(this).addClass('active');
        var activeWidth = $(this).innerWidth();
        var itemPos = $(this).position();
        //- $('.selectord').toggle();
        //- $('.selectorari').toggle();
        //- $('.selectoreth').toggle();
        $(".selector").css({
          "left":itemPos.left + "px", 
          "width": activeWidth + "px"
        });
      });
      $(".tab1").on("click", function(){
        $("#tab2").addClass('hide');
        $("#tab3").addClass('hide');
        $("#tab1").fadeIn(1000);
        $('#tab2').fadeOut(1000);
        $('#tab3').fadeOut(1000);
      });

      $(".tab2").on("click", function(){
        $("#tab2").removeClass('hide');
        $("#tab1").fadeOut();
        $("#tab3").fadeOut();
        $('#tab2').fadeIn(1000);
      });

      $(".tab3").on("click", function(){
        $("#tab3").removeClass('hide');
        $("#tab1").fadeOut();
        $("#tab2").fadeOut();
        $('#tab3').fadeIn(1000);
      });