extends ../layoutsimple

block content
  script.
    function updateDue() {
      var amnt = parseFloat(document.getElementById("amount").value);
      if (!amnt) { amnt = 0; }
      var total = document.getElementById("totalwithdraw");
      total.value = (amnt - 0.0001).toFixed(8);
    }
    function clicked() {
      $('#addy').val($('#sendaddress').val());
      $('#total').val($('#totalwithdraw').val());
    }
    function confirmed() {
      $('#sendform').submit();
    }
  #notify
  .container2(style='margin-top:30px;width:90%;margin:0 auto;')
    h1(align='center', style='font-size:73px;font-weight:100;margin-top:42px !important;') Kronos Seed Phrase
    p
      .titlesmall(align='center', style='width:800px;margin:0 auto;') Your Kronos seed phrase, this is your BIP39 Seed Phrase compatible with any BIP39 wallet and is what your addresses in your Kronos wallet are derived from for Denarius (D), Ethereum (ETH), and Denarii (ARI).       
    div.rowclass(style='font-weight:400;font-size:14px;padding:30px;background-color:#222;margin:15px;border-radius:15px;', align='center')
      h3 BIP39 Seed Phrase
      if (seedphrase)
        p(style='font-weight:400;font-size:14px;padding:30px;background-color:#222;margin:15px;border-radius:15px;') #{seedphrase[0].mnemonic}
        p
          button.button(onclick="location.href='/import';", style='background-color: #a81010;border-radius: 15px;border: none;padding: 10px;padding-left: 30px;padding-right: 30px;margin-right:15px;') Import Seed  
          button.button(onclick="location.href='/sweep';", style='background-color: #a81010;border-radius: 15px;border: none;padding: 10px;padding-left: 30px;padding-right: 30px;') Sweep Private Key
        h3(style='margin-top:35px;') Derived Ethereum and Denarii Address from your Seed
        .divider(style='background-color:#2b2b2b !important;height:2px;width:90%;margin:0 auto;', align='center')
        .row(style='padding:5px;margin:5px!important;background-color:#111;border-radius:5px;')
          .col-md-6
            span(style='color:#aaa;') Address
            br
            span(style='color:#444;') Derviation Path
          .col-md-6(style='margin-top:8px;')
            span.hashm(style='color:#666;') Private Key
        .row(style='padding:5px;margin:5px!important;background-color:#111;border-radius:5px;')
          .col-md-6
            span(style='color:#aaa;') #{ethaddress}
            br
            span(style='color:#444;') ETH & ARI (Only 1 Account Supported) m/44'/60'/0'/0/0
          .col-md-6(style='margin-top:8px;')
            span.hashm(style='color:#666;') #{ethprivkey}
        h3(style='margin-top:35px;') Derived Denarius Addresses from your Seed
        .divider(style='background-color:#2b2b2b !important;height:2px;width:90%;margin:0 auto;', align='center')
        .row(style='padding:5px;margin:5px!important;background-color:#111;border-radius:5px;')
          .col-md-6
            span(style='color:#aaa;') Address
            br
            span(style='color:#444;') Derviation Path
          .col-md-6(style='margin-top:8px;')
            span.hashm(style='color:#666;') Private Key
        each seed in seedphrase[0].seedaddresses
          .row(style='padding:5px;margin:5px!important;background-color:#111;border-radius:5px;')
            .col-md-6
              span(style='color:#aaa;') #{seed.address}
              br
              span(style='color:#444;') #{seed.path}
            .col-md-6(style='margin-top:8px;')
              span.hashm(style='color:#666;') #{seed.privkey} 
            
        
