extends ../layoutcoreprofile

block content
  #notify
  .maincontent(style='border: none !important;margin-top: -15px;')
    .container(style='width:90%')
      .row(class='rowclass', style='margin: 0px !important; padding:0px !important;border-top-left-radius:0px !important; border-top-right-radius:0px !important;')
        form.form-horizontal(action='/updateprofile', method='POST')
          input(type='hidden' name='_csrf' value=csrftoken)
          .col-md-6(align='center')
            if (username)
              h2(align='center', style='font-size:43px;font-weight:100;margin-top:42px !important;')
                |  Your Profile 
                a(href='https://bitclout.com/u/'+username, target='_blank') @#{username}
            else 
              h2(align='center', style='font-size:43px;font-weight:100;margin-top:42px !important;')
                |  Create Profile
            p
              h5(style='color:#777;')
                | This profile is available and attached to BitClout.com
                br
                div(style='width:60%;background-color: #db0000;color:#fff;padding:5px;margin:10px;border-radius:5px;') It costs ~0.01 CLOUT to create your profile!
          .col-md-6(align='center')
            p
              #edit__userPicture
                label#chooseFile(for='fileInput')
                  input#fileInput.light(type='file' name='fileInput' accept='image/png, image/jpeg', onchange='encodeImageFileAsURL()')
                  img#addImage(src='../img/AddImage.svg' alt='Change Avatar', onchange='encodeImageFileAsURL()')
                  //- button#removePic.removeButton(text='remove' type='button') &#x2715;
                  .profPic_div
                    .profPic_div_overlay
                      p CHANGE AVATAR
                    #profileavatar(style='margin:35px;')
              #progress(style='display:none;')
          .col-md-12(align='center')
              p
                .form-group.row
                  label.col-sm-2.col-form-label(for='pb', style='margin-top:15px;') CLOUT Public Key
                  .col-sm-10
                    input#pb.profileinput(name='pb', placeholder='CLOUT PubKey', style='background-color:#111 !important;', value=cloutaddress disabled)
              p
                input#AVATAR(type='hidden', name='AVATAR')
                .form-group.row
                  label.col-sm-2.col-form-label(for='NAMEBOX', style='margin-top:15px;') Username
                  .col-sm-10
                    input#NAMEBOX.profileinput(name='NAMEBOX', placeholder='Username', value=username)
                .form-group.row 
                  label.col-sm-2.col-form-label(for='founder', style='margin-top:15px;') 
                    | Founder Reward % 
                    br
                    span(style='font-size:11px;color:#888;') (Recommended: Less than 10%)
                  .col-sm-10
                    input#founder.profileinput(type='number', name='founder', min='0', max='100', placeholder='Your Founder Reward Rate', value=FR)
                .form-group.row 
                  label.col-sm-2.col-form-label(for='BIOBOX', style='margin-top:25px;') Description
                  .col-sm-10
                    textarea#BIOBOX.profileinput(type='textarea', rows='4', maxlength='180', name='BIOBOX', placeholder='Your biography or description', style='height:130px;') #{description}
                button.kbtn.grey(type='submit') Update Profile