extends ../layoutcoreprofile

block content
  #toggle2fa(data-value=twofaenable)
  #notify
  .maincontent(style='border: none !important;')
    .container(style='width:90%')
      .row(class='rowclass', style='margin: 0px !important; padding:0px !important;border-top-left-radius:0px !important; border-top-right-radius:0px !important;')
        .col-md-12(align='center')
          p
            img(src='../img/kronos.png', style='height:200px;')
            h4(style='margin-top:0;margin-bottom:0;') 
              i.fas.fa-code-branch
              |  Version 1.9.9-Beta
          p(style='color:#888;') Written, Developed, and Designed by Carsen Klock
            br 
            | (MIT License 2020)
          p
            a(href='https://github.com/carsenk/kronos', target='_blank') Kronos Github 
            | | 
            a(href='https://kronoswallet.com', target='_blank') Kronos Official Site
          p(style='background-color:#111;padding:15px;border-radius:5px;') Kronos is running on 
            strong #{lanip}:3000 
            | (You can go to 
            a(href='http://'+lanip+':3000/dashsimple', onclick="javascript:event.target.port=3000", target='_blank') #{lanip}:3000/dashsimple 
            | in a local networked browser)
          p 
            button.kbtn.orange(onclick="location.href='/profile';", style='border-radius: 15px;border: none;padding: 10px;padding-left: 30px;padding-right: 30px;margin-right:15px;') 
                i.far.fa-user
                |  EDIT YOUR PROFILE
          .divider(style='border-top:1px solid #111;margin-top: 70px !important;')
          p
            h1(style='margin-top: 0px !important;font-size:50px !important;color: #a1a1a1;') CONTROLS
          .divider(style='border-top:1px solid #111;')
          .row(style='margin-top: 50px !important;')
            .col-md-4
              button.kbtn.orange(onclick="location.href='/sseed';", style='border-radius: 15px;border: none;padding: 10px;padding-left: 30px;padding-right: 30px;margin-right:15px;') 
                i.far.fa-eye
                |  VIEW YOUR SEED
            .col-md-4
              button.kbtn.darkred(onclick="location.href='/import';", style='border-radius: 15px;border: none;padding: 10px;padding-left: 30px;padding-right: 30px;margin-right:15px;') 
                i.fas.fa-long-arrow-alt-down
                |  IMPORT NEW SEED
            .col-md-4
              button.kbtn.orange(onclick="location.href='/passchange';", style='border-radius: 15px;border: none;padding: 10px;padding-left: 30px;padding-right: 30px;margin-right:15px;') 
                i.fas.fa-key
                |  CHANGE PASSWORD
          .row(style='margin-bottom: 50px !important;')
            .col-md-4
              button.kbtn.orange(onclick="location.href='/sweep';", style='border-radius: 15px;border: none;padding: 10px;padding-left: 30px;padding-right: 30px;')
                | SWEEP D 
                i.fas.fa-angle-double-down
            .col-md-4
              button.kbtn.orange(onclick="location.href='/sweepbtc';", style='border-radius: 15px;border: none;padding: 10px;padding-left: 30px;padding-right: 30px;' disabled) 
                | SWEEP BTC 
                i.fas.fa-angle-double-down
            .col-md-4
              button.kbtn.grey(onclick="location.href='/sweepeth';", style='border-radius: 15px;border: none;padding: 10px;padding-left: 30px;padding-right: 30px;' disabled) 
                | SWEEP ETH 
                i.fas.fa-angle-double-down
          .divider(style='border-top:1px solid #111;')
          p
            h1(style='margin-top: 0px !important;font-size:50px !important;color: #a1a1a1;') KRONOS 2FA
          .divider(style='border-top:1px solid #111;')
          p
            br
            input(type='hidden' name='_csrf' value=csrftoken)
            input.toggle2fa(type='checkbox', onclick='twofatoggle()')
            #2fabox(style='display:none;padding: 30px;max-width: 500px;background-color: #1b1b1b;box-shadow: 0px 0px 0px 2px #00000070;border-radius: 15px;margin: 15px;')
            br
          .divider(style='border-top:1px solid #111;')
          p
            h1(style='margin-top: 0px !important;font-size:50px !important;color: #a1a1a1;') KRONOS U2F DEVICES
          .divider(style='border-top:1px solid #111;')
          p
            br
            if (u2fdevices != '')
              each u2f in u2fdevices
                p
                  .row.devices(id=u2f.name, value=u2f.name)
                    .col-md-8
                      .usb(style='margin-top:3px;margin-bottom:10px;')
                        i.fab.fa-usb             
                        |  #{(u2f.name).toUpperCase()}
                        img(src='../img/yubikeyicon.svg', style='max-height: 22px; display: inline-block;border:0;')
                    .col-md-4
                      input(type='hidden' name='_csrf' value=csrftoken)
                      button.kbtn.red.removedevice(style='margin-top: 15px !important;text-shadow: 0px 1px 0px #565656; padding: 5px !important; padding-top: 0px !important; padding-bottom: 0px !important;', onclick='removeDevice("'+u2f.id+'", "'+u2f.name+'")') X
              button.kbtn.orange(onclick="location.href='/u2f';") 
                i.fas.fa-plus 
                |  Add a U2F Device
            else
              h2 No U2F Devices Added.
              button.kbtn.orange(onclick="location.href='/u2f';") 
                i.fas.fa-plus 
                |  Add a U2F Device
          .divider(style='border-top:1px solid #111;margin-top:333px !important;')
          p
            h1(style='margin-top: 0px !important;font-size:50px !important;color: #a1a1a1;') CREDITS
          .divider(style='border-top:1px solid #111;')
          p
            br
            | Powered by the Denarius (D) Community
            br
            | Special thanks to my best friends, you know who you are.
            br
            | Massive thanks to everyone else who contributes and helps to create a better financial future for everyone.
            br 
            | Long Live Denarius.
            br
            | Long Live Kronos.
            br
            | Long Live Cypherpunks.
            br
            | &nbsp;
          .divider(style='border-top:1px solid #111;')
          .containercredits(style='width:50%;')
            p
              br
              em Long Live: Satoshi, Buzzkillb, Icanhazcrypto, Wookie, Kawaiicrypto, Enkayz, Thr33z, Manosv, Crouton, Inocelda, Voon, FetchMyGold, Luigi, Chris92, Lokh, McTowel, Hossango, notsofast
            p
              br
              em Condolences: RIP Coinomi, RIP Exodus, RIP Cryptopia, RIP Coinexchange, RIP Allcoin, RIP CCex, RIP Mintpal, RIP Bitmex, RIP Mtgox, RIP Cryptsy, RIP all the other centralized exchanges, RIP Banks.
            br
            | &nbsp;